


### 순서
 1. 기본세팅
 
 2. dummy 변수화 시키기
 
 3. 결측값 채워주기
 
 4. 새로운 column 만들어주기
 
 5. column 날려주기
 
 6. 데이터 정리하기
 
<br>

## 색깔 tip!
과제는 <font color='red'> 빨간색</font>으로 표시했습니다~  
<br>
<font color='yellow'>노란색</font> 바로 밑에 있는 셀의 코드를 채워주시면 됩니다~~  
<br>

나머지 색은 신경 안 쓰셔도 됩니다~~

# 1. 기본세팅
 - 데이터 불러오기
 - 결측값 확인하기
 - 데이터프레임 shape 살펴보기

In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
dir = 'C:/Users/crjh8/Desktop/YS/YBIGTA/2021-1/1.16/titanic.csv'
df = pd.read_csv(dir)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df.shape

(891, 12)

# 2. Dummy 변수화 시키기
- `.replace()`, `.map()`:  column내 값을 바꿔주는 많은 메소드들
- `.get_dummies()`: dummy 변수화에 최적화 된 메소드

### 우선!
`.dtypes`를 통해서 column들의 유형을 확인해보면  
*Name, Sex, Ticket, Cabin, Embarked*가 categorical 변수임을 확인할 수 있습니다

In [5]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

object = categorical 변수
<br>
기계는 categorical 변수를 인식하지 못합니다.  
그래서<font color='red'> 기계가 알 수 있게</font> 바뀌주어야 합니다
그게 바로 one-hot encoding

## 우선! 
`.replace()`, .`map()`을 써봅시다

column의 value가 뭐뭐 있는지 보기 위해서는`.unique()`를 쓰면 됩니다!

In [6]:
df['Sex'].unique()

array(['male', 'female'], dtype=object)

# <font color='red'>[과제부분!] (1/11)</font>
### 자! replace를 써봅시다!
- replace 메소드 사용하는 방법은 다음과 같아요~! 
> ``` python
df['column'].replace(['기존value'],['新value'], inplace=True)
```
> ``` python
df['column'].replace({"기존value":int,
                       "기존value":"str"}, inplace = True)
> ```

---

위를 참고해서 male를 0으로 female를 1로 바꿔보아요!

---

In [7]:
temp = df.copy()

#### 여기서 소소한 Tip!
- 원본 데이터(여기서는 df)를 가지고 이것저것 하다가 잘못 만지면  
- 처음부터 다시 df를 불러와야 되기 때문에  
- 작업을 할 때는 temp라는 변수로 잠깐 저장했다가  
- 성공하면 df로 다시 바꿔주기~

In [8]:
temp['Sex'].head()

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

### <font color='yellow'> 여기를 채워주세요~ </font>

In [9]:
# male은 0, female은 1로 바꿔주세요~

temp['Sex'].replace(['male'], [0], inplace=True)
temp['Sex'].replace(['female'], [1], inplace=True)

In [10]:
temp['Sex'].head()

0    0
1    1
2    1
3    1
4    0
Name: Sex, dtype: int64

In [11]:
# 코드가 원하는 대로 돌아갔으면 다시 df로 바꿔주기!!
df = temp.copy()

# <font color='red'>[과제부분!] (2/11)</font>
### 이번엔! map을 써봅시다!
- .map() 메소드 사용하는 방법은 다음과 같아요~! 

> ``` python
df['column'].map({"기존value1":新value, 
                    "기존value2":'新Value'})
> ```

- map()에 들어가는 데이터는 무조건!!! `dictionary` 형태여야 해요~!!


---
위를 참고해서 Embarked column을 바꿔보아요!

---

In [12]:
temp = df.copy()
temp['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [13]:
temp['Embarked'].head(10)

0    S
1    C
2    S
3    S
4    S
5    Q
6    S
7    S
8    S
9    C
Name: Embarked, dtype: object

### <font color='yellow'> 여기를 채워주세요~ </font>

In [14]:
# S는 0, C는 1, Q는 2, nan는 4 바꿔주세요~

temp['Embarked']= temp['Embarked'].map({'S':0,'C':1, 'Q':2, np.nan:4 })

In [15]:
temp['Embarked'].isnull().sum()

0

In [16]:
temp['Embarked'].head(10)

0    0
1    1
2    0
3    0
4    0
5    2
6    0
7    0
8    0
9    1
Name: Embarked, dtype: int64

column value들을 count하고 싶으면`.value_counts()`를 쓰면 됩니다!

In [17]:
temp['Embarked'].value_counts()

0    644
1    168
2     77
4      2
Name: Embarked, dtype: int64

# <font color='red'>[과제부분!] (3/11)</font>
### 이번엔! .get_ dummies를 써봅시다!
- 사실 dummy 변수화를 시켜줄 때 이렇게 일일이 바꿔주지는 않아요.  
<br>

- 왜냐? `.get_dummies`라는 메소드가 있기 때문이에요!
<br>

- 하지만! `.replace()`, `.map()`은 column 값을 바꿀 때 어마무시하게 자주 쓰이기 때문에 꼭 알고 계셔야 합니다...ㅎㅎ  
<br>
<br>

- .map() 메소드 사용하는 방법은 다음과 같아요~!
> ``` python
pd.get_dummies(["column name"], prefix="prefix")
> ```
- 
> ``` python
pd.get_dummies(데이터프레임, columns = ["column name"])
> ```

  - prefix를 지정해주면 column 이름에 prefix가 들어가요!  
<br>


---
위를 참고해서 Embarked 칼럼과 Pclass 칼럼을 바꿔보아요!  
2번재 코드를 참고하세요~

---

In [18]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [19]:
temp = df.copy()

### <font color='yellow'> 여기를 채워주세요~ </font>

In [20]:
# Embarked, Pclass 칼럼을 더미변수로 바꿔주세요~
temp = pd.get_dummies(temp, columns = ['Embarked', 'Pclass'])

In [21]:
temp

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
0,1,0,"Braund, Mr. Owen Harris",0,22.00,1,0,A/5 21171,7.2500,NaN,0,0,1,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.00,1,0,PC 17599,71.2833,C85,1,0,0,1,0,0
2,3,1,"Heikkinen, Miss. Laina",1,26.00,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.00,1,0,113803,53.1000,C123,0,0,1,1,0,0
4,5,0,"Allen, Mr. William Henry",0,35.00,0,0,373450,8.0500,NaN,0,0,1,0,0,1
5,6,0,"Moran, Mr. James",0,NaN,0,0,330877,8.4583,NaN,0,1,0,0,0,1
6,7,0,"McCarthy, Mr. Timothy J",0,54.00,0,0,17463,51.8625,E46,0,0,1,1,0,0
7,8,0,"Palsson, Master. Gosta Leonard",0,2.00,3,1,349909,21.0750,NaN,0,0,1,0,0,1
8,9,1,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.00,0,2,347742,11.1333,NaN,0,0,1,0,0,1
9,10,1,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.00,1,0,237736,30.0708,NaN,1,0,0,0,1,0
10,11,1,"Sandstrom, Miss. Marguerite Rut",1,4.00,1,1,PP 9549,16.7000,G6,0,0,1,0,0,1
11,12,1,"Bonnell, Miss. Elizabeth",1,58.00,0,0,113783,26.5500,C103,0,0,1,1,0,0
12,13,0,"Saundercock, Mr. William Henry",0,20.00,0,0,A/5. 2151,8.0500,NaN,0,0,1,0,0,1
13,14,0,"Andersson, Mr. Anders Johan",0,39.00,1,5,347082,31.2750,NaN,0,0,1,0,0,1
14,15,0,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.00,0,0,350406,7.8542,NaN,0,0,1,0,0,1
15,16,1,"Hewlett, Mrs. (Mary D Kingcome)",1,55.00,0,0,248706,16.0000,NaN,0,0,1,0,1,0
16,17,0,"Rice, Master. Eugene",0,2.00,4,1,382652,29.1250,NaN,0,1,0,0,0,1
17,18,1,"Williams, Mr. Charles Eugene",0,NaN,0,0,244373,13.0000,NaN,0,0,1,0,1,0
18,19,0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,31.00,1,0,345763,18.0000,NaN,0,0,1,0,0,1
19,20,1,"Masselmani, Mrs. Fatima",1,NaN,0,0,2649,7.2250,NaN,1,0,0,0,0,1
20,21,0,"Fynney, Mr. Joseph J",0,35.00,0,0,239865,26.0000,NaN,0,0,1,0,1,0
21,22,1,"Beesley, Mr. Lawrence",0,34.00,0,0,248698,13.0000,D56,0,0,1,0,1,0
22,23,1,"McGowan, Miss. Anna ""Annie""",1,15.00,0,0,330923,8.0292,NaN,0,1,0,0,0,1
23,24,1,"Sloper, Mr. William Thompson",0,28.00,0,0,113788,35.5000,A6,0,0,1,1,0,0
24,25,0,"Palsson, Miss. Torborg Danira",1,8.00,3,1,349909,21.0750,NaN,0,0,1,0,0,1
25,26,1,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1,38.00,1,5,347077,31.3875,NaN,0,0,1,0,0,1
26,27,0,"Emir, Mr. Farred Chehab",0,NaN,0,0,2631,7.2250,NaN,1,0,0,0,0,1
27,28,0,"Fortune, Mr. Charles Alexander",0,19.00,3,2,19950,263.0000,C23 C25 C27,0,0,1,1,0,0
28,29,1,"O'Dwyer, Miss. Ellen ""Nellie""",1,NaN,0,0,330959,7.8792,NaN,0,1,0,0,0,1
29,30,0,"Todoroff, Mr. Lalio",0,NaN,0,0,349216,7.8958,NaN,0,0,1,0,0,1
30,31,0,"Uruchurtu, Don. Manuel E",0,40.00,0,0,PC 17601,27.7208,NaN,1,0,0,1,0,0
31,32,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",1,NaN,1,0,PC 17569,146.5208,B78,1,0,0,1,0,0
32,33,1,"Glynn, Miss. Mary Agatha",1,NaN,0,0,335677,7.7500,NaN,0,1,0,0,0,1
33,34,0,"Wheadon, Mr. Edward H",0,66.00,0,0,C.A. 24579,10.5000,NaN,0,0,1,0,1,0
34,35,0,"Meyer, Mr. Edgar Joseph",0,28.00,1,0,PC 17604,82.1708,NaN,1,0,0,1,0,0
35,36,0,"Holverson, Mr. Alexander Oskar",0,42.00,1,0,113789,52.0000,NaN,0,0,1,1,0,0
36,37,1,"Mamee, Mr. Hanna",0,NaN,0,0,2677,7.2292,NaN,1,0,0,0,0,1
37,38,0,"Cann, Mr. Ernest Charles",0,21.00,0,0,A./5. 2152,8.0500,NaN,0,0,1,0,0,1
38,39,0,"Vander Planke, Miss. Augusta Maria",1,18.00,2,0,345764,18.0000,NaN,0,0,1,0,0,1
39,40,1,"Nicola-Yarred, Miss. Jamila",1,14.00,1,0,2651,11.2417,NaN,1,0,0,0,0,1
40,41,0,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",1,40.00,1,0,7546,9.4750,NaN,0,0,1,0,0,1
41,42,0,"Turpin, Mrs. William John Robert (Dorothy Ann ...",1,27.00,1,0,11668,21.0000,NaN,0,0,1,0,1,0
42,43,0,"Kraeff, Mr. Theodor",0,NaN,0,0,349253,7.8958,NaN,1,0,0,0,0,1
43,44,1,"Laroche, Miss. Simonne Marie Anne Andree",1,3.00,1,2,SC/Paris 2123,41.5792,NaN,1,0,0,0,1,0
44,45,1,"Devaney, Miss. Margaret Delia",1,19.00,0,0,330958,7.8792,NaN,0,1,0,0,0,1
45,46,0,"Rogers, Mr. William John",0,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,0,0,1,0,0,1
46,47,0,"Lennon, Mr. Denis",0,NaN,1,0,370371,15.5000,NaN,0,1,0,0,0,1
47,48,1,"O'Driscoll, Miss. Bridget",1,NaN,0,0,14311,7.7500,NaN,0,1,0,0,0,1
48,49,0,"Samaan, Mr. Youssef",0,NaN,2,0,2662,21.6792,NaN,1,0,0,0,0,1
49,50,0,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",1,18.00,1,0,349237,17.8000,NaN,0,0,1,0,0,1
50,51,0,"Panula, Master. Juha Niilo",0,7.00,4,1,3101295,39.6875,NaN,0,0,1,0,0,1
51,52,0,"Nosworthy, Mr. Richard Cater",0,21.00,0,0,A/4. 39886,7.8000,NaN,0,0,1,0,0,1
52,53,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",1,49.00,1,0,PC 17572,76.7292,D33,1,0,0,1,0,0
53,54,1,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",1,29.00,1,0,2926,26.0000,NaN,0,0,1,0,1,0
54,55,0,"Ostby, Mr. Engelhart Cornelius",0,65.00,0,1,113509,61.9792,B30,1,0,0,1,0,0
55,56,1,"Woolner, Mr. Hugh",0,NaN,0,0,19947,35.5000,C52,0,0,1,1,0,0
56,57,1,"Rugg, Miss. Emily",1,21.00,0,0,C.A. 31026,10.5000,NaN,0,0,1,0,1,0
57,58,0,"Novel, Mr. Mansouer",0,28.50,0,0,2697,7.2292,NaN,1,0,0,0,0,1
58,59,1,"West, Miss. Constance Mirium",1,5.00,1,2,C.A. 34651,27.7500,NaN,0,0,1,0,1,0
59,60,0,"Goodwin, Master. William Frederick",0,11.00,5,2,CA 2144,46.9000,NaN,0,0,1,0,0,1
60,61,0,"Sirayanian, Mr. Orsen",0,22.00,0,0,2669,7.2292,NaN,1,0,0,0,0,1
61,62,1,"Icard, Miss. Amelie",1,38.00,0,0,113572,80.0000,B28,0,0,0,1,0,0
62,63,0,"Harris, Mr. Henry Birkhardt",0,45.00,1,0,36973,83.4750,C83,0,0,1,1,0,0
63,64,0,"Skoog, Master. Harald",0,4.00,3,2,347088,27.9000,NaN,0,0,1,0,0,1
64,65,0,"Stewart, Mr. Albert A",0,NaN,0,0,PC 17605,27.7208,NaN,1,0,0,1,0,0
65,66,1,"Moubarek, Master. Gerios",0,NaN,1,1,2661,15.2458,NaN,1,0,0,0,0,1
66,67,1,"Nye, Mrs. (Elizabeth Ramell)",1,29.00,0,0,C.A. 29395,10.5000,F33,0,0,1,0,1,0
67,68,0,"Crease, Mr. Ernest James",0,19.00,0,0,S.P. 3464,8.1583,NaN,0,0,1,0,0,1
68,69,1,"Andersson, Miss. Erna Alexandra",1,17.00,4,2,3101281,7.9250,NaN,0,0,1,0,0,1
69,70,0,"Kink, Mr. Vincenz",0,26.00,2,0,315151,8.6625,NaN,0,0,1,0,0,1
70,71,0,"Jenkin, Mr. Stephen Curnow",0,32.00,0,0,C.A. 33111,10.5000,NaN,0,0,1,0,1,0
71,72,0,"Goodwin, Miss. Lillian Amy",1,16.00,5,2,CA 2144,46.9000,NaN,0,0,1,0,0,1
72,73,0,"Hood, Mr. Ambrose Jr",0,21.00,0,0,S.O.C. 14879,73.5000,NaN,0,0,1,0,1,0
73,74,0,"Chronopoulos, Mr. Apostolos",0,26.00,1,0,2680,14.4542,NaN,1,0,0,0,0,1
74,75,1,"Bing, Mr. Lee",0,32.00,0,0,1601,56.4958,NaN,0,0,1,0,0,1
75,76,0,"Moen, Mr. Sigurd Hansen",0,25.00,0,0,348123,7.6500,F G73,0,0,1,0,0,1
76,77,0,"Staneff, Mr. Ivan",0,NaN,0,0,349208,7.8958,NaN,0,0,1,0,0,1
77,78,0,"Moutal, Mr. Rahamin Haim",0,NaN,0,0,374746,8.0500,NaN,0,0,1,0,0,1
78,79,1,"Caldwell, Master. Alden Gates",0,0.83,0,2,248738,29.0000,NaN,0,0,1,0,1,0
79,80,1,"Dowdell, Miss. Elizabeth",1,30.00,0,0,364516,12.4750,NaN,0,0,1,0,0,1
80,81,0,"Waelens, Mr. Achille",0,22.00,0,0,345767,9.0000,NaN,0,0,1,0,0,1
81,82,1,"Sheerlinck, Mr. Jan Baptist",0,29.00,0,0,345779,9.5000,NaN,0,0,1,0,0,1
82,83,1,"McDermott, Miss. Brigdet Delia",1,NaN,0,0,330932,7.7875,NaN,0,1,0,0,0,1
83,84,0,"Carrau, Mr. Francisco M",0,28.00,0,0,113059,47.1000,NaN,0,0,1,1,0,0
84,85,1,"Ilett, Miss. Bertha",1,17.00,0,0,SO/C 14885,10.5000,NaN,0,0,1,0,1,0
85,86,1,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",1,33.00,3,0,3101278,15.8500,NaN,0,0,1,0,0,1
86,87,0,"Ford, Mr. William Neal",0,16.00,1,3,W./C. 6608,34.3750,NaN,0,0,1,0,0,1
87,88,0,"Slocovski, Mr. Selman Francis",0,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,0,0,1,0,0,1
88,89,1,"Fortune, Miss. Mabel Helen",1,23.00,3,2,19950,263.0000,C23 C25 C27,0,0,1,1,0,0
89,90,0,"Celotti, Mr. Francesco",0,24.00,0,0,343275,8.0500,NaN,0,0,1,0,0,1
90,91,0,"Christmann, Mr. Emil",0,29.00,0,0,343276,8.0500,NaN,0,0,1,0,0,1
91,92,0,"Andreasson, Mr. Paul Edvin",0,20.00,0,0,347466,7.8542,NaN,0,0,1,0,0,1
92,93,0,"Chaffee, Mr. Herbert Fuller",0,46.00,1,0,W.E.P. 5734,61.1750,E31,0,0,1,1,0,0
93,94,0,"Dean, Mr. Bertram Frank",0,26.00,1,2,C.A. 2315,20.5750,NaN,0,0,1,0,0,1
94,95,0,"Coxon, Mr. Daniel",0,59.00,0,0,364500,7.2500,NaN,0,0,1,0,0,1
95,96,0,"Shorney, Mr. Charles Joseph",0,NaN,0,0,374910,8.0500,NaN,0,0,1,0,0,1
96,97,0,"Goldschmidt, Mr. George B",0,71.00,0,0,PC 17754,34.6542,A5,1,0,0,1,0,0
97,98,1,"Greenfield, Mr. William Bertram",0,23.00,0,1,PC 17759,63.3583,D10 D12,1,0,0,1,0,0
98,99,1,"Doling, Mrs. John T (Ada Julia Bone)",1,34.00,0,1,231919,23.0000,NaN,0,0,1,0,1,0
99,100,0,"Kantor, Mr. Sinai",0,34.00,1,0,244367,26.0000,NaN,0,0,1,0,1,0
100,101,0,"Petranec, Miss. Matilda",1,28.00,0,0,349245,7.8958,NaN,0,0,1,0,0,1
101,102,0,"Petroff, Mr. Pastcho (""Pentcho"")",0,NaN,0,0,349215,7.8958,NaN,0,0,1,0,0,1
102,103,0,"White, Mr. Richard Frasar",0,21.00,0,1,35281,77.2875,D26,0,0,1,1,0,0
103,104,0,"Johansson, Mr. Gustaf Joel",0,33.00,0,0,7540,8.6542,NaN,0,0,1,0,0,1
104,105,0,"Gustafsson, Mr. Anders Vilhelm",0,37.00,2,0,3101276,7.9250,NaN,0,0,1,0,0,1
105,106,0,"Mionoff, Mr. Stoytcho",0,28.00,0,0,349207,7.8958,NaN,0,0,1,0,0,1
106,107,1,"Salkjelsvik, Miss. Anna Kristine",1,21.00,0,0,343120,7.6500,NaN,0,0,1,0,0,1
107,108,1,"Moss, Mr. Albert Johan",0,NaN,0,0,312991,7.7750,NaN,0,0,1,0,0,1
108,109,0,"Rekic, Mr. Tido",0,38.00,0,0,349249,7.8958,NaN,0,0,1,0,0,1
109,110,1,"Moran, Miss. Bertha",1,NaN,1,0,371110,24.1500,NaN,0,1,0,0,0,1
110,111,0,"Porter, Mr. Walter Chamberlain",0,47.00,0,0,110465,52.0000,C110,0,0,1,1,0,0
111,112,0,"Zabour, Miss. Hileni",1,14.50,1,0,2665,14.4542,NaN,1,0,0,0,0,1
112,113,0,"Barton, Mr. David John",0,22.00,0,0,324669,8.0500,NaN,0,0,1,0,0,1
113,114,0,"Jussila, Miss. Katriina",1,20.00,1,0,4136,9.8250,NaN,0,0,1,0,0,1
114,115,0,"Attalah, Miss. Malake",1,17.00,0,0,2627,14.4583,NaN,1,0,0,0,0,1
115,116,0,"Pekoniemi, Mr. Edvard",0,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,0,0,1,0,0,1
116,117,0,"Connors, Mr. Patrick",0,70.50,0,0,370369,7.7500,NaN,0,1,0,0,0,1
117,118,0,"Turpin, Mr. William John Robert",0,29.00,1,0,11668,21.0000,NaN,0,0,1,0,1,0
118,119,0,"Baxter, Mr. Quigg Edmond",0,24.00,0,1,PC 17558,247.5208,B58 B60,1,0,0,1,0,0
119,120,0,"Andersson, Miss. Ellis Anna Maria",1,2.00,4,2,347082,31.2750,NaN,0,0,1,0,0,1
120,121,0,"Hickman, Mr. Stanley George",0,21.00,2,0,S.O.C. 14879,73.5000,NaN,0,0,1,0,1,0
121,122,0,"Moore, Mr. Leonard Charles",0,NaN,0,0,A4. 54510,8.0500,NaN,0,0,1,0,0,1
122,123,0,"Nasser, Mr. Nicholas",0,32.50,1,0,237736,30.0708,NaN,1,0,0,0,1,0
123,124,1,"Webber, Miss. Susan",1,32.50,0,0,27267,13.0000,E101,0,0,1,0,1,0
124,125,0,"White, Mr. Percival Wayland",0,54.00,0,1,35281,77.2875,D26,0,0,1,1,0,0
125,126,1,"Nicola-Yarred, Master. Elias",0,12.00,1,0,2651,11.2417,NaN,1,0,0,0,0,1
126,127,0,"McMahon, Mr. Martin",0,NaN,0,0,370372,7.7500,NaN,0,1,0,0,0,1
127,128,1,"Madsen, Mr. Fridtjof Arne",0,24.00,0,0,C 17369,7.1417,NaN,0,0,1,0,0,1
128,129,1,"Peter, Miss. Anna",1,NaN,1,1,2668,22.3583,F E69,1,0,0,0,0,1
129,130,0,"Ekstrom, Mr. Johan",0,45.00,0,0,347061,6.9750,NaN,0,0,1,0,0,1
130,131,0,"Drazenoic, Mr. Jozef",0,33.00,0,0,349241,7.8958,NaN,1,0,0,0,0,1
131,132,0,"Coelho, Mr. Domingos Fernandeo",0,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,0,0,1,0,0,1
132,133,0,"Robins, Mrs. Alexander A (Grace Charity Laury)",1,47.00,1,0,A/5. 3337,14.5000,NaN,0,0,1,0,0,1
133,134,1,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",1,29.00,1,0,228414,26.0000,NaN,0,0,1,0,1,0
134,135,0,"Sobey, Mr. Samuel James Hayden",0,25.00,0,0,C.A. 29178,13.0000,NaN,0,0,1,0,1,0
135,136,0,"Richard, Mr. Emile",0,23.00,0,0,SC/PARIS 2133,15.0458,NaN,1,0,0,0,1,0
136,137,1,"Newsom, Miss. Helen Monypeny",1,19.00,0,2,11752,26.2833,D47,0,0,1,1,0,0
137,138,0,"Futrelle, Mr. Jacques Heath",0,37.00,1,0,113803,53.1000,C123,0,0,1,1,0,0
138,139,0,"Osen, Mr. Olaf Elon",0,16.00,0,0,7534,9.2167,NaN,0,0,1,0,0,1
139,140,0,"Giglio, Mr. Victor",0,24.00,0,0,PC 17593,79.2000,B86,1,0,0,1,0,0
140,141,0,"Boulos, Mrs. Joseph (Sultana)",1,NaN,0,2,2678,15.2458,NaN,1,0,0,0,0,1
141,142,1,"Nysten, Miss. Anna Sofia",1,22.00,0,0,347081,7.7500,NaN,0,0,1,0,0,1
142,143,1,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",1,24.00,1,0,STON/O2. 3101279,15.8500,NaN,0,0,1,0,0,1
143,144,0,"Burke, Mr. Jeremiah",0,19.00,0,0,365222,6.7500,NaN,0,1,0,0,0,1
144,145,0,"Andrew, Mr. Edgardo Samuel",0,18.00,0,0,231945,11.5000,NaN,0,0,1,0,1,0
145,146,0,"Nicholls, Mr. Joseph Charles",0,19.00,1,1,C.A. 33112,36.7500,NaN,0,0,1,0,1,0
146,147,1,"Andersson, Mr. August Edvard (""Wennerstrom"")",0,27.00,0,0,350043,7.7958,NaN,0,0,1,0,0,1
147,148,0,"Ford, Miss. Robina Maggie ""Ruby""",1,9.00,2,2,W./C. 6608,34.3750,NaN,0,0,1,0,0,1
148,149,0,"Navratil, Mr. Michel (""Louis M Hoffman"")",0,36.50,0,2,230080,26.0000,F2,0,0,1,0,1,0
149,150,0,"Byles, Rev. Thomas Roussel Davids",0,42.00,0,0,244310,13.0000,NaN,0,0,1,0,1,0
150,151,0,"Bateman, Rev. Robert James",0,51.00,0,0,S.O.P. 1166,12.5250,NaN,0,0,1,0,1,0
151,152,1,"Pears, Mrs. Thomas (Edith Wearne)",1,22.00,1,0,113776,66.6000,C2,0,0,1,1,0,0
152,153,0,"Meo, Mr. Alfonzo",0,55.50,0,0,A.5. 11206,8.0500,NaN,0,0,1,0,0,1
153,154,0,"van Billiard, Mr. Austin Blyler",0,40.50,0,2,A/5. 851,14.5000,NaN,0,0,1,0,0,1
154,155,0,"Olsen, Mr. Ole Martin",0,NaN,0,0,Fa 265302,7.3125,NaN,0,0,1,0,0,1
155,156,0,"Williams, Mr. Charles Duane",0,51.00,0,1,PC 17597,61.3792,NaN,1,0,0,1,0,0
156,157,1,"Gilnagh, Miss. Katherine ""Katie""",1,16.00,0,0,35851,7.7333,NaN,0,1,0,0,0,1
157,158,0,"Corn, Mr. Harry",0,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,0,0,1,0,0,1
158,159,0,"Smiljanic, Mr. Mile",0,NaN,0,0,315037,8.6625,NaN,0,0,1,0,0,1
159,160,0,"Sage, Master. Thomas Henry",0,NaN,8,2,CA. 2343,69.5500,NaN,0,0,1,0,0,1
160,161,0,"Cribb, Mr. John Hatfield",0,44.00,0,1,371362,16.1000,NaN,0,0,1,0,0,1
161,162,1,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",1,40.00,0,0,C.A. 33595,15.7500,NaN,0,0,1,0,1,0
162,163,0,"Bengtsson, Mr. John Viktor",0,26.00,0,0,347068,7.7750,NaN,0,0,1,0,0,1
163,164,0,"Calic, Mr. Jovo",0,17.00,0,0,315093,8.6625,NaN,0,0,1,0,0,1
164,165,0,"Panula, Master. Eino Viljami",0,1.00,4,1,3101295,39.6875,NaN,0,0,1,0,0,1
165,166,1,"Goldsmith, Master. Frank John William ""Frankie""",0,9.00,0,2,363291,20.5250,NaN,0,0,1,0,0,1
166,167,1,"Chibnall, Mrs. (Edith Martha Bowerman)",1,NaN,0,1,113505,55.0000,E33,0,0,1,1,0,0
167,168,0,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",1,45.00,1,4,347088,27.9000,NaN,0,0,1,0,0,1
168,169,0,"Baumann, Mr. John D",0,NaN,0,0,PC 17318,25.9250,NaN,0,0,1,1,0,0
169,170,0,"Ling, Mr. Lee",0,28.00,0,0,1601,56.4958,NaN,0,0,1,0,0,1
170,171,0,"Van der hoef, Mr. Wyckoff",0,61.00,0,0,111240,33.5000,B19,0,0,1,1,0,0
171,172,0,"Rice, Master. Arthur",0,4.00,4,1,382652,29.1250,NaN,0,1,0,0,0,1
172,173,1,"Johnson, Miss. Eleanor Ileen",1,1.00,1,1,347742,11.1333,NaN,0,0,1,0,0,1
173,174,0,"Sivola, Mr. Antti Wilhelm",0,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,0,0,1,0,0,1
174,175,0,"Smith, Mr. James Clinch",0,56.00,0,0,17764,30.6958,A7,1,0,0,1,0,0
175,176,0,"Klasen, Mr. Klas Albin",0,18.00,1,1,350404,7.8542,NaN,0,0,1,0,0,1
176,177,0,"Lefebre, Master. Henry Forbes",0,NaN,3,1,4133,25.4667,NaN,0,0,1,0,0,1
177,178,0,"Isham, Miss. Ann Elizabeth",1,50.00,0,0,PC 17595,28.7125,C49,1,0,0,1,0,0
178,179,0,"Hale, Mr. Reginald",0,30.00,0,0,250653,13.0000,NaN,0,0,1,0,1,0
179,180,0,"Leonard, Mr. Lionel",0,36.00,0,0,LINE,0.0000,NaN,0,0,1,0,0,1
180,181,0,"Sage, Miss. Constance Gladys",1,NaN,8,2,CA. 2343,69.5500,NaN,0,0,1,0,0,1
181,182,0,"Pernot, Mr. Rene",0,NaN,0,0,SC/PARIS 2131,15.0500,NaN,1,0,0,0,1,0
182,183,0,"Asplund, Master. Clarence Gustaf Hugo",0,9.00,4,2,347077,31.3875,NaN,0,0,1,0,0,1
183,184,1,"Becker, Master. Richard F",0,1.00,2,1,230136,39.0000,F4,0,0,1,0,1,0
184,185,1,"Kink-Heilmann, Miss. Luise Gretchen",1,4.00,0,2,315153,22.0250,NaN,0,0,1,0,0,1
185,186,0,"Rood, Mr. Hugh Roscoe",0,NaN,0,0,113767,50.0000,A32,0,0,1,1,0,0
186,187,1,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",1,NaN,1,0,370365,15.5000,NaN,0,1,0,0,0,1
187,188,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",0,45.00,0,0,111428,26.5500,NaN,0,0,1,1,0,0
188,189,0,"Bourke, Mr. John",0,40.00,1,1,364849,15.5000,NaN,0,1,0,0,0,1
189,190,0,"Turcin, Mr. Stjepan",0,36.00,0,0,349247,7.8958,NaN,0,0,1,0,0,1
190,191,1,"Pinsky, Mrs. (Rosa)",1,32.00,0,0,234604,13.0000,NaN,0,0,1,0,1,0
191,192,0,"Carbines, Mr. William",0,19.00,0,0,28424,13.0000,NaN,0,0,1,0,1,0
192,193,1,"Andersen-Jensen, Miss. Carla Christine Nielsine",1,19.00,1,0,350046,7.8542,NaN,0,0,1,0,0,1
193,194,1,"Navratil, Master. Michel M",0,3.00,1,1,230080,26.0000,F2,0,0,1,0,1,0
194,195,1,"Brown, Mrs. James Joseph (Margaret Tobin)",1,44.00,0,0,PC 17610,27.7208,B4,1,0,0,1,0,0
195,196,1,"Lurette, Miss. Elise",1,58.00,0,0,PC 17569,146.5208,B80,1,0,0,1,0,0
196,197,0,"Mernagh, Mr. Robert",0,NaN,0,0,368703,7.7500,NaN,0,1,0,0,0,1
197,198,0,"Olsen, Mr. Karl Siegwart Andreas",0,42.00,0,1,4579,8.4042,NaN,0,0,1,0,0,1
198,199,1,"Madigan, Miss. Margaret ""Maggie""",1,NaN,0,0,370370,7.7500,NaN,0,1,0,0,0,1
199,200,0,"Yrois, Miss. Henriette (""Mrs Harbeck"")",1,24.00,0,0,248747,13.0000,NaN,0,0,1,0,1,0
200,201,0,"Vande Walle, Mr. Nestor Cyriel",0,28.00,0,0,345770,9.5000,NaN,0,0,1,0,0,1
201,202,0,"Sage, Mr. Frederick",0,NaN,8,2,CA. 2343,69.5500,NaN,0,0,1,0,0,1
202,203,0,"Johanson, Mr. Jakob Alfred",0,34.00,0,0,3101264,6.4958,NaN,0,0,1,0,0,1
203,204,0,"Youseff, Mr. Gerious",0,45.50,0,0,2628,7.2250,NaN,1,0,0,0,0,1
204,205,1,"Cohen, Mr. Gurshon ""Gus""",0,18.00,0,0,A/5 3540,8.0500,NaN,0,0,1,0,0,1
205,206,0,"Strom, Miss. Telma Matilda",1,2.00,0,1,347054,10.4625,G6,0,0,1,0,0,1
206,207,0,"Backstrom, Mr. Karl Alfred",0,32.00,1,0,3101278,15.8500,NaN,0,0,1,0,0,1
207,208,1,"Albimona, Mr. Nassef Cassem",0,26.00,0,0,2699,18.7875,NaN,1,0,0,0,0,1
208,209,1,"Carr, Miss. Helen ""Ellen""",1,16.00,0,0,367231,7.7500,NaN,0,1,0,0,0,1
209,210,1,"Blank, Mr. Henry",0,40.00,0,0,112277,31.0000,A31,1,0,0,1,0,0
210,211,0,"Ali, Mr. Ahmed",0,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,0,0,1,0,0,1
211,212,1,"Cameron, Miss. Clear Annie",1,35.00,0,0,F.C.C. 13528,21.0000,NaN,0,0,1,0,1,0
212,213,0,"Perkin, Mr. John Henry",0,22.00,0,0,A/5 21174,7.2500,NaN,0,0,1,0,0,1
213,214,0,"Givard, Mr. Hans Kristensen",0,30.00,0,0,250646,13.0000,NaN,0,0,1,0,1,0
214,215,0,"Kiernan, Mr. Philip",0,NaN,1,0,367229,7.7500,NaN,0,1,0,0,0,1
215,216,1,"Newell, Miss. Madeleine",1,31.00,1,0,35273,113.2750,D36,1,0,0,1,0,0
216,217,1,"Honkanen, Miss. Eliina",1,27.00,0,0,STON/O2. 3101283,7.9250,NaN,0,0,1,0,0,1
217,218,0,"Jacobsohn, Mr. Sidney Samuel",0,42.00,1,0,243847,27.0000,NaN,0,0,1,0,1,0
218,219,1,"Bazzani, Miss. Albina",1,32.00,0,0,11813,76.2917,D15,1,0,0,1,0,0
219,220,0,"Harris, Mr. Walter",0,30.00,0,0,W/C 14208,10.5000,NaN,0,0,1,0,1,0
220,221,1,"Sunderland, Mr. Victor Francis",0,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,0,0,1,0,0,1
221,222,0,"Bracken, Mr. James H",0,27.00,0,0,220367,13.0000,NaN,0,0,1,0,1,0
222,223,0,"Green, Mr. George Henry",0,51.00,0,0,21440,8.0500,NaN,0,0,1,0,0,1
223,224,0,"Nenkoff, Mr. Christo",0,NaN,0,0,349234,7.8958,NaN,0,0,1,0,0,1
224,225,1,"Hoyt, Mr. Frederick Maxfield",0,38.00,1,0,19943,90.0000,C93,0,0,1,1,0,0
225,226,0,"Berglund, Mr. Karl Ivar Sven",0,22.00,0,0,PP 4348,9.3500,NaN,0,0,1,0,0,1
226,227,1,"Mellors, Mr. William John",0,19.00,0,0,SW/PP 751,10.5000,NaN,0,0,1,0,1,0
227,228,0,"Lovell, Mr. John Hall (""Henry"")",0,20.50,0,0,A/5 21173,7.2500,NaN,0,0,1,0,0,1
228,229,0,"Fahlstrom, Mr. Arne Jonas",0,18.00,0,0,236171,13.0000,NaN,0,0,1,0,1,0
229,230,0,"Lefebre, Miss. Mathilde",1,NaN,3,1,4133,25.4667,NaN,0,0,1,0,0,1
230,231,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",1,35.00,1,0,36973,83.4750,C83,0,0,1,1,0,0
231,232,0,"Larsson, Mr. Bengt Edvin",0,29.00,0,0,347067,7.7750,NaN,0,0,1,0,0,1
232,233,0,"Sjostedt, Mr. Ernst Adolf",0,59.00,0,0,237442,13.5000,NaN,0,0,1,0,1,0
233,234,1,"Asplund, Miss. Lillian Gertrud",1,5.00,4,2,347077,31.3875,NaN,0,0,1,0,0,1
234,235,0,"Leyson, Mr. Robert William Norman",0,24.00,0,0,C.A. 29566,10.5000,NaN,0,0,1,0,1,0
235,236,0,"Harknett, Miss. Alice Phoebe",1,NaN,0,0,W./C. 6609,7.5500,NaN,0,0,1,0,0,1
236,237,0,"Hold, Mr. Stephen",0,44.00,1,0,26707,26.0000,NaN,0,0,1,0,1,0
237,238,1,"Collyer, Miss. Marjorie ""Lottie""",1,8.00,0,2,C.A. 31921,26.2500,NaN,0,0,1,0,1,0
238,239,0,"Pengelly, Mr. Frederick William",0,19.00,0,0,28665,10.5000,NaN,0,0,1,0,1,0
239,240,0,"Hunt, Mr. George Henry",0,33.00,0,0,SCO/W 1585,12.2750,NaN,0,0,1,0,1,0
240,241,0,"Zabour, Miss. Thamine",1,NaN,1,0,2665,14.4542,NaN,1,0,0,0,0,1

In [22]:
df = temp.copy()

In [23]:
df.head()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
0,1,0,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0,0,1,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1,0,0,1,0,0
2,3,1,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0,0,1,1,0,0
4,5,0,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0,0,1,0,0,1

# 3. 결측값 채워주기

In [24]:
df.isnull().sum()

PassengerId      0
Survived         0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked_C       0
Embarked_Q       0
Embarked_S       0
Pclass_1         0
Pclass_2         0
Pclass_3         0
dtype: int64

### 아까 본 것처럼!
- titanic data에는 *Age, Cabin* 칼럼에 결측치가 있습니다 
<br>

- 지난 EDA 과제에서 살펴본 바에 의하면 Age는 생존여부에 영향을 꽤 많이 미쳤지만  

- Cabin은 생존여부에 영향이 미미함.  
<br>

- 또한 Cabin은 value들을 살펴보면 value값이 147개이고 적당한 value 값을 넣어주기 힘듦.  

<br>

- 그래서 Age는 결측치를 채워줄 껀데 Cabin은 버립니다  <br>
(Cabin에 대해서도 Feature Engineering을 하는 사람도 있습니다. 지극히 개인적인 견해입니다)

In [25]:
# Cabin은 적당한 value 찾기가 힘듬
df['Cabin']

0                  NaN
1                  C85
2                  NaN
3                 C123
4                  NaN
5                  NaN
6                  E46
7                  NaN
8                  NaN
9                  NaN
10                  G6
11                C103
12                 NaN
13                 NaN
14                 NaN
15                 NaN
16                 NaN
17                 NaN
18                 NaN
19                 NaN
20                 NaN
21                 D56
22                 NaN
23                  A6
24                 NaN
25                 NaN
26                 NaN
27         C23 C25 C27
28                 NaN
29                 NaN
30                 NaN
31                 B78
32                 NaN
33                 NaN
34                 NaN
35                 NaN
36                 NaN
37                 NaN
38                 NaN
39                 NaN
40                 NaN
41                 NaN
42                 NaN
43                 NaN
44                 NaN
45                 NaN
46                 NaN
47                 NaN
48                 NaN
49                 NaN
50                 NaN
51                 NaN
52                 D33
53                 NaN
54                 B30
55                 C52
56                 NaN
57                 NaN
58                 NaN
59                 NaN
60                 NaN
61                 B28
62                 C83
63                 NaN
64                 NaN
65                 NaN
66                 F33
67                 NaN
68                 NaN
69                 NaN
70                 NaN
71                 NaN
72                 NaN
73                 NaN
74                 NaN
75               F G73
76                 NaN
77                 NaN
78                 NaN
79                 NaN
80                 NaN
81                 NaN
82                 NaN
83                 NaN
84                 NaN
85                 NaN
86                 NaN
87                 NaN
88         C23 C25 C27
89                 NaN
90                 NaN
91                 NaN
92                 E31
93                 NaN
94                 NaN
95                 NaN
96                  A5
97             D10 D12
98                 NaN
99                 NaN
100                NaN
101                NaN
102                D26
103                NaN
104                NaN
105                NaN
106                NaN
107                NaN
108                NaN
109                NaN
110               C110
111                NaN
112                NaN
113                NaN
114                NaN
115                NaN
116                NaN
117                NaN
118            B58 B60
119                NaN
120                NaN
121                NaN
122                NaN
123               E101
124                D26
125                NaN
126                NaN
127                NaN
128              F E69
129                NaN
130                NaN
131                NaN
132                NaN
133                NaN
134                NaN
135                NaN
136                D47
137               C123
138                NaN
139                B86
140                NaN
141                NaN
142                NaN
143                NaN
144                NaN
145                NaN
146                NaN
147                NaN
148                 F2
149                NaN
150                NaN
151                 C2
152                NaN
153                NaN
154                NaN
155                NaN
156                NaN
157                NaN
158                NaN
159                NaN
160                NaN
161                NaN
162                NaN
163                NaN
164                NaN
165                NaN
166                E33
167                NaN
168                NaN
169                NaN
170                B19
171                NaN
172                NaN
173                NaN
174                 A7
175                NaN
176                NaN
177                C49
178                NaN
179                NaN
180                NaN
181                NaN
182                NaN
183                 F4
184                NaN
185                A32
186                NaN
187                NaN
188                NaN
189                NaN
190                NaN
191                NaN
192                NaN
193                 F2
194                 B4
195                B80
196                NaN
197                NaN
198                NaN
199                NaN
200                NaN
201                NaN
202                NaN
203                NaN
204                NaN
205                 G6
206                NaN
207                NaN
208                NaN
209                A31
210                NaN
211                NaN
212                NaN
213                NaN
214                NaN
215                D36
216                NaN
217                NaN
218                D15
219                NaN
220                NaN
221                NaN
222                NaN
223                NaN
224                C93
225                NaN
226                NaN
227                NaN
228                NaN
229                NaN
230                C83
231                NaN
232                NaN
233                NaN
234                NaN
235                NaN
236                NaN
237                NaN
238                NaN
239                NaN
240                NaN
241                NaN
242                NaN
243                NaN
244                NaN
245                C78
246                NaN
247                NaN
248                D35
249                NaN
250                NaN
251                 G6
252                C87
253                NaN
254                NaN
255                NaN
256                NaN
257                B77
258                NaN
259                NaN
260                NaN
261                NaN
262                E67
263                B94
264                NaN
265                NaN
266                NaN
267                NaN
268               C125
269                C99
270                NaN
271                NaN
272                NaN
273               C118
274                NaN
275                 D7
276                NaN
277                NaN
278                NaN
279                NaN
280                NaN
281                NaN
282                NaN
283                NaN
284                A19
285                NaN
286                NaN
287                NaN
288                NaN
289                NaN
290                NaN
291                B49
292                  D
293                NaN
294                NaN
295                NaN
296                NaN
297            C22 C26
298               C106
299            B58 B60
300                NaN
301                NaN
302                NaN
303               E101
304                NaN
305            C22 C26
306                NaN
307                C65
308                NaN
309                E36
310                C54
311    B57 B59 B63 B66
312                NaN
313                NaN
314                NaN
315                NaN
316                NaN
317                NaN
318                 C7
319                E34
320                NaN
321                NaN
322                NaN
323                NaN
324                NaN
325                C32
326                NaN
327                  D
328                NaN
329                B18
330                NaN
331               C124
332                C91
333                NaN
334                NaN
335                NaN
336                 C2
337                E40
338                NaN
339                  T
340                 F2
341        C23 C25 C27
342                NaN
343                NaN
344                NaN
345                F33
346                NaN
347                NaN
348                NaN
349                NaN
350                NaN
351               C128
352                NaN
353                NaN
354                NaN
355                NaN
356                E33
357                NaN
358                NaN
359                NaN
360                NaN
361                NaN
362                NaN
363                NaN
364                NaN
365                NaN
366                D37
367                NaN
368                NaN
369                B35
370                E50
371                NaN
372                NaN
373                NaN
374                NaN
375                NaN
376                NaN
377                C82
378                NaN
379                NaN
380                NaN
381                NaN
382                NaN
383                NaN
384                NaN
385                NaN
386                NaN
387                NaN
388                NaN
389                NaN
390            B96 B98
391                NaN
392                NaN
393                D36
394                 G6
395                NaN
396                NaN
397                NaN
398                NaN
399                NaN
400                NaN
401                NaN
402                NaN
403                NaN
404                NaN
405                NaN
406                NaN
407                NaN
408                NaN
409                NaN
410                NaN
411                NaN
412                C78
413                NaN
414                NaN
415                NaN
416                NaN
417                NaN
418                NaN
419                NaN
420                NaN
421                NaN
422                NaN
423                NaN
424                NaN
425                NaN
426                NaN
427                NaN
428                NaN
429                E10
430                C52
431                NaN
432                NaN
433                NaN
434                E44
435            B96 B98
436                NaN
437                NaN
438        C23 C25 C27
439                NaN
440                NaN
441                NaN
442                NaN
443                NaN
444                NaN
445                A34
446                NaN
447                NaN
448                NaN
449               C104
450                NaN
451                NaN
452               C111
453                C92
454                NaN
455                NaN
456                E38
457                D21
458                NaN
459                NaN
460                E12
461                NaN
462                E63
463                NaN
464                NaN
465                NaN
466                NaN
467                NaN
468                NaN
469                NaN
470                NaN
471                NaN
472                NaN
473                  D
474                NaN
475                A14
476                NaN
477                NaN
478                NaN
479                NaN
480                NaN
481                NaN
482                NaN
483                NaN
484                B49
485                NaN
486                C93
487                B37
488                NaN
489                NaN
490                NaN
491                NaN
492                C30
493                NaN
494                NaN
495                NaN
496                D20
497                NaN
498            C22 C26
499                NaN
500                NaN
501                NaN
502                NaN
503                NaN
504                B79
505                C65
506                NaN
507                NaN
508                NaN
509                NaN
510                NaN
511                NaN
512                E25
513                NaN
514                NaN
515                D46
516                F33
517                NaN
518                NaN
519                NaN
520                B73
521                NaN
522                NaN
523                B18
524                NaN
525                NaN
526                NaN
527                C95
528                NaN
529                NaN
530                NaN
531                NaN
532                NaN
533                NaN
534                NaN
535                NaN
536                B38
537                NaN
538                NaN
539                B39
540                B22
541                NaN
542                NaN
543                NaN
544                C86
545                NaN
546                NaN
547                NaN
548                NaN
549                NaN
550                C70
551                NaN
552                NaN
553                NaN
554                NaN
555                NaN
556                A16
557                NaN
558                E67
559                NaN
560                NaN
561                NaN
562                NaN
563                NaN
564                NaN
565                NaN
566                NaN
567                NaN
568                NaN
569                NaN
570                NaN
571               C101
572                E25
573                NaN
574                NaN
575                NaN
576                NaN
577                E44
578                NaN
579                NaN
580                NaN
581                C68
582                NaN
583                A10
584                NaN
585                E68
586                NaN
587                B41
588                NaN
589                NaN
590                NaN
591                D20
592                NaN
593                NaN
594                NaN
595                NaN
596                NaN
597                NaN
598                NaN
599                A20
600                NaN
601                NaN
602                NaN
603                NaN
604                NaN
605                NaN
606                NaN
607                NaN
608                NaN
609               C125
610                NaN
611                NaN
612                NaN
613                NaN
614                NaN
615                NaN
616                NaN
617                NaN
618                 F4
619                NaN
620                NaN
621                D19
622                NaN
623                NaN
624                NaN
625                D50
626                NaN
627                 D9
628                NaN
629                NaN
630                A23
631                NaN
632                B50
633                NaN
634                NaN
635                NaN
636                NaN
637                NaN
638                NaN
639                NaN
640                NaN
641                B35
642                NaN
643                NaN
644                NaN
645                D33
646                NaN
647                A26
648                NaN
649                NaN
650                NaN
651                NaN
652                NaN
653                NaN
654                NaN
655                NaN
656                NaN
657                NaN
658                NaN
659                D48
660                NaN
661                NaN
662                E58
663                NaN
664                NaN
665                NaN
666                NaN
667                NaN
668                NaN
669               C126
670                NaN
671                B71
672                NaN
673                NaN
674                NaN
675                NaN
676                NaN
677                NaN
678                NaN
679        B51 B53 B55
680                NaN
681                D49
682                NaN
683                NaN
684                NaN
685                NaN
686                NaN
687                NaN
688                NaN
689                 B5
690                B20
691                NaN
692                NaN
693                NaN
694                NaN
695                NaN
696                NaN
697                NaN
698                C68
699              F G63
700            C62 C64
701                E24
702                NaN
703                NaN
704                NaN
705                NaN
706                NaN
707                E24
708                NaN
709                NaN
710                C90
711               C124
712               C126
713                NaN
714                NaN
715              F G73
716                C45
717               E101
718                NaN
719                NaN
720                NaN
721                NaN
722                NaN
723                NaN
724                 E8
725                NaN
726                NaN
727                NaN
728                NaN
729                NaN
730                 B5
731                NaN
732                NaN
733                NaN
734                NaN
735                NaN
736                NaN
737               B101
738                NaN
739                NaN
740                D45
741                C46
742    B57 B59 B63 B66
743                NaN
744                NaN
745                B22
746                NaN
747                NaN
748                D30
749                NaN
750                NaN
751               E121
752                NaN
753                NaN
754                NaN
755                NaN
756                NaN
757                NaN
758                NaN
759                B77
760                NaN
761                NaN
762                NaN
763            B96 B98
764                NaN
765                D11
766                NaN
767                NaN
768                NaN
769                NaN
770                NaN
771                NaN
772                E77
773                NaN
774                NaN
775                NaN
776                F38
777                NaN
778                NaN
779                 B3
780                NaN
781                B20
782                 D6
783                NaN
784                NaN
785                NaN
786                NaN
787                NaN
788                NaN
789            B82 B84
790                NaN
791                NaN
792                NaN
793                NaN
794                NaN
795                NaN
796                D17
797                NaN
798                NaN
799                NaN
800                NaN
801                NaN
802            B96 B98
803                NaN
804                NaN
805                NaN
806                A36
807                NaN
808                NaN
809                 E8
810                NaN
811                NaN
812                NaN
813                NaN
814                NaN
815               B102
816                NaN
817                NaN
818                NaN
819                NaN
820                B69
821                NaN
822                NaN
823               E121
824                NaN
825                NaN
826                NaN
827                NaN
828                NaN
829                B28
830                NaN
831                NaN
832                NaN
833                NaN
834                NaN
835                E49
836                NaN
837                NaN
838                NaN
839                C47
840                NaN
841                NaN
842                NaN
843                NaN
844                NaN
845                NaN
846                NaN
847                NaN
848                NaN
849                C92
850                NaN
851                NaN
852                NaN
853                D28
854                NaN
855                NaN
856                NaN
857                E17
858                NaN
859                NaN
860                NaN
861                NaN
862                D17
863                NaN
864                NaN
865                NaN
866                NaN
867                A24
868                NaN

column의 value의 갯수를 알고 싶으면 `.nunique()`를 쓰면 됩니다!

In [26]:
# value값이 147개임
df['Cabin'].nunique()

147


Age만 결측치를 채워봅시다

### 이번엔! .extract, .replace, .groupby, .map를 써봅시다!
그냥 ['Age'].mean()으로 NaN 값을 대체할 수도 있지만  

좀 더 디테일하게 들어가고 싶기 때문에 각 성별에 따른 median 값을 넣어줄 겁니다!  
<br>

Name 칼럼을 잘 보면 Mr, Mrs, Miss, Dr 같이 직업, 성별을 추측할 수 있는 단서가 있어요!  

이것을 활용해서 Age의 결측치를 채워볼 겁니다~  
<br>

- 1st) 이름에서 Mr, Mrs, Miss, Dr를 정규식으로 추출! 
<br>

- 2nd) Title(Mr, Mrs, Miss etc)를 4가지 분류로 통합!
<br>

- 3rd) Title 별로 나이의 median을 구한 뒤
<br>

- 4th) 결측치를 채운다!!!  
<br>

### 하나씩 해봅시다.

## <font color='green'>1st) 이름에서 Mr, Mrs, Miss, Dr를 정규식으로 추출!</font>

In [27]:
temp = df.copy()

In [28]:
# 정규식 코드는 제가 드리겠습니당.
# 참고하실 것은 column에서 값을 뽑거나, slicing, indexing을 하기 위해서는 .str을 꼭 붙여야 해요!!

temp['Title'] = temp.Name.str.extract('([A-Za-z]+)\.')

In [29]:
temp['Title']

0            Mr
1           Mrs
2          Miss
3           Mrs
4            Mr
5            Mr
6            Mr
7        Master
8           Mrs
9           Mrs
10         Miss
11         Miss
12           Mr
13           Mr
14         Miss
15          Mrs
16       Master
17           Mr
18          Mrs
19          Mrs
20           Mr
21           Mr
22         Miss
23           Mr
24         Miss
25          Mrs
26           Mr
27           Mr
28         Miss
29           Mr
30          Don
31          Mrs
32         Miss
33           Mr
34           Mr
35           Mr
36           Mr
37           Mr
38         Miss
39         Miss
40          Mrs
41          Mrs
42           Mr
43         Miss
44         Miss
45           Mr
46           Mr
47         Miss
48           Mr
49          Mrs
50       Master
51           Mr
52          Mrs
53          Mrs
54           Mr
55           Mr
56         Miss
57           Mr
58         Miss
59       Master
60           Mr
61         Miss
62           Mr
63       Master
64           Mr
65       Master
66          Mrs
67           Mr
68         Miss
69           Mr
70           Mr
71         Miss
72           Mr
73           Mr
74           Mr
75           Mr
76           Mr
77           Mr
78       Master
79         Miss
80           Mr
81           Mr
82         Miss
83           Mr
84         Miss
85          Mrs
86           Mr
87           Mr
88         Miss
89           Mr
90           Mr
91           Mr
92           Mr
93           Mr
94           Mr
95           Mr
96           Mr
97           Mr
98          Mrs
99           Mr
100        Miss
101          Mr
102          Mr
103          Mr
104          Mr
105          Mr
106        Miss
107          Mr
108          Mr
109        Miss
110          Mr
111        Miss
112          Mr
113        Miss
114        Miss
115          Mr
116          Mr
117          Mr
118          Mr
119        Miss
120          Mr
121          Mr
122          Mr
123        Miss
124          Mr
125      Master
126          Mr
127          Mr
128        Miss
129          Mr
130          Mr
131          Mr
132         Mrs
133         Mrs
134          Mr
135          Mr
136        Miss
137          Mr
138          Mr
139          Mr
140         Mrs
141        Miss
142         Mrs
143          Mr
144          Mr
145          Mr
146          Mr
147        Miss
148          Mr
149         Rev
150         Rev
151         Mrs
152          Mr
153          Mr
154          Mr
155          Mr
156        Miss
157          Mr
158          Mr
159      Master
160          Mr
161         Mrs
162          Mr
163          Mr
164      Master
165      Master
166         Mrs
167         Mrs
168          Mr
169          Mr
170          Mr
171      Master
172        Miss
173          Mr
174          Mr
175          Mr
176      Master
177        Miss
178          Mr
179          Mr
180        Miss
181          Mr
182      Master
183      Master
184        Miss
185          Mr
186         Mrs
187          Mr
188          Mr
189          Mr
190         Mrs
191          Mr
192        Miss
193      Master
194         Mrs
195        Miss
196          Mr
197          Mr
198        Miss
199        Miss
200          Mr
201          Mr
202          Mr
203          Mr
204          Mr
205        Miss
206          Mr
207          Mr
208        Miss
209          Mr
210          Mr
211        Miss
212          Mr
213          Mr
214          Mr
215        Miss
216        Miss
217          Mr
218        Miss
219          Mr
220          Mr
221          Mr
222          Mr
223          Mr
224          Mr
225          Mr
226          Mr
227          Mr
228          Mr
229        Miss
230         Mrs
231          Mr
232          Mr
233        Miss
234          Mr
235        Miss
236          Mr
237        Miss
238          Mr
239          Mr
240        Miss
241        Miss
242          Mr
243          Mr
244          Mr
245          Dr
246        Miss
247         Mrs
248          Mr
249         Rev
250          Mr
251         Mrs
252          Mr
253          Mr
254         Mrs
255         Mrs
256         Mrs
257        Miss
258        Miss
259         Mrs
260          Mr
261      Master
262          Mr
263          Mr
264        Miss
265          Mr
266          Mr
267          Mr
268         Mrs
269        Miss
270          Mr
271          Mr
272         Mrs
273          Mr
274        Miss
275        Miss
276        Miss
277          Mr
278      Master
279         Mrs
280          Mr
281          Mr
282          Mr
283          Mr
284          Mr
285          Mr
286          Mr
287          Mr
288          Mr
289        Miss
290        Miss
291         Mrs
292          Mr
293        Miss
294          Mr
295          Mr
296          Mr
297        Miss
298          Mr
299         Mrs
300        Miss
301          Mr
302          Mr
303        Miss
304          Mr
305      Master
306        Miss
307         Mrs
308          Mr
309        Miss
310        Miss
311        Miss
312         Mrs
313          Mr
314          Mr
315        Miss
316         Mrs
317          Dr
318        Miss
319         Mrs
320          Mr
321          Mr
322        Miss
323         Mrs
324          Mr
325        Miss
326          Mr
327         Mrs
328         Mrs
329        Miss
330        Miss
331          Mr
332          Mr
333          Mr
334         Mrs
335          Mr
336          Mr
337        Miss
338          Mr
339          Mr
340      Master
341        Miss
342          Mr
343          Mr
344          Mr
345        Miss
346        Miss
347         Mrs
348      Master
349          Mr
350          Mr
351          Mr
352          Mr
353          Mr
354          Mr
355          Mr
356        Miss
357        Miss
358        Miss
359        Miss
360          Mr
361          Mr
362         Mrs
363          Mr
364          Mr
365          Mr
366         Mrs
367         Mrs
368        Miss
369         Mme
370          Mr
371          Mr
372          Mr
373          Mr
374        Miss
375         Mrs
376        Miss
377          Mr
378          Mr
379          Mr
380        Miss
381        Miss
382          Mr
383         Mrs
384          Mr
385          Mr
386      Master
387        Miss
388          Mr
389        Miss
390          Mr
391          Mr
392          Mr
393        Miss
394         Mrs
395          Mr
396        Miss
397          Mr
398          Dr
399         Mrs
400          Mr
401          Mr
402        Miss
403          Mr
404        Miss
405          Mr
406          Mr
407      Master
408          Mr
409        Miss
410          Mr
411          Mr
412        Miss
413          Mr
414          Mr
415         Mrs
416         Mrs
417        Miss
418          Mr
419        Miss
420          Mr
421          Mr
422          Mr
423         Mrs
424          Mr
425          Mr
426         Mrs
427        Miss
428          Mr
429          Mr
430          Mr
431         Mrs
432         Mrs
433          Mr
434          Mr
435        Miss
436        Miss
437         Mrs
438          Mr
439          Mr
440         Mrs
441          Mr
442          Mr
443          Ms
444          Mr
445      Master
446        Miss
447          Mr
448        Miss
449       Major
450          Mr
451          Mr
452          Mr
453          Mr
454          Mr
455          Mr
456          Mr
457         Mrs
458        Miss
459          Mr
460          Mr
461          Mr
462          Mr
463          Mr
464          Mr
465          Mr
466          Mr
467          Mr
468          Mr
469        Miss
470          Mr
471          Mr
472         Mrs
473         Mrs
474        Miss
475          Mr
476          Mr
477          Mr
478          Mr
479        Miss
480      Master
481          Mr
482          Mr
483         Mrs
484          Mr
485        Miss
486         Mrs
487          Mr
488          Mr
489      Master
490          Mr
491          Mr
492          Mr
493          Mr
494          Mr
495          Mr
496        Miss
497          Mr
498         Mrs
499          Mr
500          Mr
501        Miss
502        Miss
503        Miss
504        Miss
505          Mr
506         Mrs
507          Mr
508          Mr
509          Mr
510          Mr
511          Mr
512          Mr
513         Mrs
514          Mr
515          Mr
516         Mrs
517          Mr
518         Mrs
519          Mr
520        Miss
521          Mr
522          Mr
523         Mrs
524          Mr
525          Mr
526        Miss
527          Mr
528          Mr
529          Mr
530        Miss
531          Mr
532          Mr
533         Mrs
534        Miss
535        Miss
536       Major
537        Miss
538          Mr
539        Miss
540        Miss
541        Miss
542        Miss
543          Mr
544          Mr
545          Mr
546         Mrs
547          Mr
548          Mr
549      Master
550          Mr
551          Mr
552          Mr
553          Mr
554        Miss
555          Mr
556        Lady
557          Mr
558         Mrs
559         Mrs
560          Mr
561          Mr
562          Mr
563          Mr
564        Miss
565          Mr
566          Mr
567         Mrs
568          Mr
569          Mr
570          Mr
571         Mrs
572          Mr
573        Miss
574          Mr
575          Mr
576        Miss
577         Mrs
578         Mrs
579          Mr
580        Miss
581         Mrs
582          Mr
583          Mr
584          Mr
585        Miss
586          Mr
587          Mr
588          Mr
589          Mr
590          Mr
591         Mrs
592          Mr
593        Miss
594          Mr
595          Mr
596        Miss
597          Mr
598          Mr
599         Sir
600         Mrs
601          Mr
602          Mr
603          Mr
604          Mr
605          Mr
606          Mr
607          Mr
608         Mrs
609        Miss
610         Mrs
611          Mr
612        Miss
613          Mr
614          Mr
615        Miss
616          Mr
617         Mrs
618        Miss
619          Mr
620          Mr
621          Mr
622          Mr
623          Mr
624          Mr
625          Mr
626         Rev
627        Miss
628          Mr
629          Mr
630          Mr
631          Mr
632          Dr
633          Mr
634        Miss
635        Miss
636          Mr
637          Mr
638         Mrs
639          Mr
640          Mr
641        Mlle
642        Miss
643          Mr
644        Miss
645          Mr
646          Mr
647         Col
648          Mr
649        Miss
650          Mr
651        Miss
652          Mr
653        Miss
654        Miss
655          Mr
656          Mr
657         Mrs
658          Mr
659          Mr
660          Dr
661          Mr
662          Mr
663          Mr
664          Mr
665          Mr
666          Mr
667          Mr
668          Mr
669         Mrs
670         Mrs
671          Mr
672          Mr
673          Mr
674          Mr
675          Mr
676          Mr
677        Miss
678         Mrs
679          Mr
680        Miss
681          Mr
682          Mr
683          Mr
684          Mr
685          Mr
686          Mr
687          Mr
688          Mr
689        Miss
690          Mr
691        Miss
692          Mr
693          Mr
694         Col
695          Mr
696          Mr
697        Miss
698          Mr
699          Mr
700         Mrs
701          Mr
702        Miss
703          Mr
704          Mr
705          Mr
706         Mrs
707          Mr
708        Miss
709      Master
710        Mlle
711          Mr
712          Mr
713          Mr
714          Mr
715          Mr
716        Miss
717        Miss
718          Mr
719          Mr
720        Miss
721          Mr
722          Mr
723          Mr
724          Mr
725          Mr
726         Mrs
727        Miss
728          Mr
729        Miss
730        Miss
731          Mr
732          Mr
733          Mr
734          Mr
735          Mr
736         Mrs
737          Mr
738          Mr
739          Mr
740          Mr
741          Mr
742        Miss
743          Mr
744          Mr
745        Capt
746          Mr
747        Miss
748          Mr
749          Mr
750        Miss
751      Master
752          Mr
753          Mr
754         Mrs
755      Master
756          Mr
757          Mr
758          Mr
759    Countess
760          Mr
761          Mr
762          Mr
763         Mrs
764          Mr
765         Mrs
766          Dr
767        Miss
768          Mr
769          Mr
770          Mr
771          Mr
772         Mrs
773          Mr
774         Mrs
775          Mr
776          Mr
777        Miss
778          Mr
779         Mrs
780        Miss
781         Mrs
782          Mr
783          Mr
784          Mr
785          Mr
786        Miss
787      Master
788      Master
789          Mr
790          Mr
791          Mr
792        Miss
793          Mr
794          Mr
795          Mr
796          Dr
797         Mrs
798          Mr
799         Mrs
800          Mr
801         Mrs
802      Master
803      Master
804          Mr
805          Mr
806          Mr
807        Miss
808          Mr
809         Mrs
810          Mr
811          Mr
812          Mr
813        Miss
814          Mr
815          Mr
816        Miss
817          Mr
818          Mr
819      Master
820         Mrs
821          Mr
822    Jonkheer
823         Mrs
824      Master
825          Mr
826          Mr
827      Master
828          Mr
829         Mrs
830         Mrs
831      Master
832          Mr
833          Mr
834          Mr
835        Miss
836          Mr
837          Mr
838          Mr
839          Mr
840          Mr
841          Mr
842        Miss
843          Mr
844          Mr
845          Mr
846          Mr
847          Mr
848         Rev
849         Mrs
850      Master
851          Mr
852        Miss
853        Miss
854         Mrs
855         Mrs
856         Mrs
857          Mr
858         Mrs
859          Mr
860          Mr
861          Mr
862         Mrs
863        Miss
864          Mr
865         Mrs
866        Miss
867          Mr
868          Mr
869      Master
870          Mr
871         Mrs
872          Mr
873          Mr
874         Mrs
875        Miss
876          Mr
877          Mr
878          Mr
879         Mrs
880         Mrs
881          Mr
882        Miss
883          Mr
884          Mr
885         Mrs
886         Rev
887        Miss
888        Miss
889          Mr
890          Mr
Name: Title, dtype: object

In [30]:
# Title의 value들을 살펴보면 요로로콤!!
temp['Title'].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'Countess',
       'Jonkheer'], dtype=object)

## <font color='green'>2nd) Title(Mr, Mrs, Miss etc)를 4가지 분류로 통합!</font>

# <font color='red'>[과제부분!] (4/11)</font>
### 아까 배운 .replace 함수를 이용해서 Master, Miss, Mrs, Mr, Other 5가지로 분류해주세요!       
- 'Mlle','Mme','Ms','Dr','Major','Lady','Countess','Jonkheer','Col','Rev','Capt','Sir','Don', 'Dona' -> 얘네들을 Other로 합쳐주세요

- 위에 과제 (1/ )에서 첫 번째 코드를 활용하면 됩니다~

### <font color='yellow'> 여기를 채워주세요~ </font>

In [31]:
# Master, Miss, Mrs, Mr 말고는 모두 Other로 바꿔주세요~
temp['Title'].replace(['Mlle', 'Mme', 'Ms', 'Dr', 'Major', 'Lady',
                       'Countess', 'Jonkheer', 'Col', 'Rev', 'Capt',
                       'Sir', 'Don', 'Dona'],'Other', inplace=True)

In [32]:
temp['Title'].value_counts()

Mr        517
Miss      182
Mrs       125
Master     40
Other      27
Name: Title, dtype: int64

In [33]:
df = temp.copy()

## <font color='green'>3rd) Title 별로 나이의 median을 구한 뒤</font>

# <font color='red'>[과제부분!] (5/11)</font>
### groupby( )[ ] 함수를 통해서 median 구하기!

> ``` python
.groupby(세로열)[가로열].operation( )
> ```

> ``` python
.groupby(세로열)[[가로열]].쓸 함수( )
> ```

numpy, pandas 시간에 groupby 배웠죠?  
<br>

그걸 써보는 시간입니당~  
<br>

각 Title 별로 Age의 median을 구해봐요~

### <font color='yellow'> 여기를 채워주세요~ </font>

In [34]:
temp = df.copy()

In [35]:
# groupby를 써주세요~
temp.groupby('Title')['Age'].median()

Title
Master     3.5
Miss      21.0
Mr        30.0
Mrs       35.0
Other     44.5
Name: Age, dtype: float64

## <font color='green'>4th) 결측치를 채운다!!!</font>

# <font color='red'>[과제부분!] (6/11)</font>
### dict, zip( ), .map( )을 활용해서 Age 결측치 채우기!   
위에서 .map( )을 활용하려면 안에 dictionary 형태의 자료형이 와야 된다고 말씀드렸잖아요~  
<br>

그래서 Title과 Age로 dictionary로 만들고서  
<br>

그걸 바탕으로 Age의 결측치를 채워줄 겁니다~~  
<br>

### Zip
`zip`이란 길이가 같은 자료를 하나 하나씩 매칭해주는 내장함수입니다~! <font color='white'></font>  
<br>
예시를 들자면  
> ``` python
list(zip([1, 2, 3], [4, 5, 6]))
>```
[(1, 4), (2, 5), (3, 6)]

> ``` python
list(zip("abc", "def"))
>```
[('a', 'd'), ('b', 'e'), ('c', 'f')]

> ``` python
dict(zip("abc", [1,2,3]))
>```
{'a': 1, 'b': 2, 'c': 3}

<br>
마지막 예시처럼 zip을 사용하면 진짜 개손쉽게 dictionary를 만들 수 있음  

이렇게 만들어서 map과 함께 사용해보는 실습을 하겠습니다

In [36]:
# 우선 median 값을 dataframe 형태로 만들어주고~
title_age = temp.groupby('Title')[['Age']].median()
title_age

         Age
Title
Master   3.5
Miss    21.0
Mr      30.0
Mrs     35.0
Other   44.5

### <font color='yellow'> 여기를 채워주세요~ </font>

In [37]:
# 1st) title에는 title_age의 index를 저장한다.

title = title_age.index

In [38]:
title

Index(['Master', 'Miss', 'Mr', 'Mrs', 'Other'], dtype='object', name='Title')

### <font color='yellow'> 여기를 채워주세요~ </font>

In [39]:
# 2nd) age에는 title_age의 Age 칼럼을 series 형태로 저장한다. 
age = title_age["Age"]

In [40]:
age

Title
Master     3.5
Miss      21.0
Mr        30.0
Mrs       35.0
Other     44.5
Name: Age, dtype: float64

### <font color='yellow'> 여기를 채워주세요~ </font>

In [41]:
# 3rd) dict과 zip 함수를 활용해서 dictionary로 저장된 dict_title_age를 만든다.
dict_title_age = dict(zip(title,age))

In [42]:
dict_title_age

{'Master': 3.5, 'Miss': 21.0, 'Mr': 30.0, 'Mrs': 35.0, 'Other': 44.5}

# <font color='red'>[과제부분!] (7/11)</font>
## 이제 fillna()를 활용해서 nan값을 채워줍니다!!  
결측치를 채우는 방법으로는 `.fillna()`가 있습니다[링크 텍스트](https://)
<br>  

`.fillna()`는
> ``` python
.filnna( 조건 , inplace = True)
>```

이렇게 쓰면 됩니다.

### <font color='yellow'> 여기를 채워주세요~ </font>

In [43]:
temp['Age_median'] = temp['Age']
temp

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,Title,Age_median
0,1,0,"Braund, Mr. Owen Harris",0,22.00,1,0,A/5 21171,7.2500,NaN,0,0,1,0,0,1,Mr,22.00
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.00,1,0,PC 17599,71.2833,C85,1,0,0,1,0,0,Mrs,38.00
2,3,1,"Heikkinen, Miss. Laina",1,26.00,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,1,Miss,26.00
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.00,1,0,113803,53.1000,C123,0,0,1,1,0,0,Mrs,35.00
4,5,0,"Allen, Mr. William Henry",0,35.00,0,0,373450,8.0500,NaN,0,0,1,0,0,1,Mr,35.00
5,6,0,"Moran, Mr. James",0,NaN,0,0,330877,8.4583,NaN,0,1,0,0,0,1,Mr,NaN
6,7,0,"McCarthy, Mr. Timothy J",0,54.00,0,0,17463,51.8625,E46,0,0,1,1,0,0,Mr,54.00
7,8,0,"Palsson, Master. Gosta Leonard",0,2.00,3,1,349909,21.0750,NaN,0,0,1,0,0,1,Master,2.00
8,9,1,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.00,0,2,347742,11.1333,NaN,0,0,1,0,0,1,Mrs,27.00
9,10,1,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.00,1,0,237736,30.0708,NaN,1,0,0,0,1,0,Mrs,14.00
10,11,1,"Sandstrom, Miss. Marguerite Rut",1,4.00,1,1,PP 9549,16.7000,G6,0,0,1,0,0,1,Miss,4.00
11,12,1,"Bonnell, Miss. Elizabeth",1,58.00,0,0,113783,26.5500,C103,0,0,1,1,0,0,Miss,58.00
12,13,0,"Saundercock, Mr. William Henry",0,20.00,0,0,A/5. 2151,8.0500,NaN,0,0,1,0,0,1,Mr,20.00
13,14,0,"Andersson, Mr. Anders Johan",0,39.00,1,5,347082,31.2750,NaN,0,0,1,0,0,1,Mr,39.00
14,15,0,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.00,0,0,350406,7.8542,NaN,0,0,1,0,0,1,Miss,14.00
15,16,1,"Hewlett, Mrs. (Mary D Kingcome)",1,55.00,0,0,248706,16.0000,NaN,0,0,1,0,1,0,Mrs,55.00
16,17,0,"Rice, Master. Eugene",0,2.00,4,1,382652,29.1250,NaN,0,1,0,0,0,1,Master,2.00
17,18,1,"Williams, Mr. Charles Eugene",0,NaN,0,0,244373,13.0000,NaN,0,0,1,0,1,0,Mr,NaN
18,19,0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,31.00,1,0,345763,18.0000,NaN,0,0,1,0,0,1,Mrs,31.00
19,20,1,"Masselmani, Mrs. Fatima",1,NaN,0,0,2649,7.2250,NaN,1,0,0,0,0,1,Mrs,NaN
20,21,0,"Fynney, Mr. Joseph J",0,35.00,0,0,239865,26.0000,NaN,0,0,1,0,1,0,Mr,35.00
21,22,1,"Beesley, Mr. Lawrence",0,34.00,0,0,248698,13.0000,D56,0,0,1,0,1,0,Mr,34.00
22,23,1,"McGowan, Miss. Anna ""Annie""",1,15.00,0,0,330923,8.0292,NaN,0,1,0,0,0,1,Miss,15.00
23,24,1,"Sloper, Mr. William Thompson",0,28.00,0,0,113788,35.5000,A6,0,0,1,1,0,0,Mr,28.00
24,25,0,"Palsson, Miss. Torborg Danira",1,8.00,3,1,349909,21.0750,NaN,0,0,1,0,0,1,Miss,8.00
25,26,1,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1,38.00,1,5,347077,31.3875,NaN,0,0,1,0,0,1,Mrs,38.00
26,27,0,"Emir, Mr. Farred Chehab",0,NaN,0,0,2631,7.2250,NaN,1,0,0,0,0,1,Mr,NaN
27,28,0,"Fortune, Mr. Charles Alexander",0,19.00,3,2,19950,263.0000,C23 C25 C27,0,0,1,1,0,0,Mr,19.00
28,29,1,"O'Dwyer, Miss. Ellen ""Nellie""",1,NaN,0,0,330959,7.8792,NaN,0,1,0,0,0,1,Miss,NaN
29,30,0,"Todoroff, Mr. Lalio",0,NaN,0,0,349216,7.8958,NaN,0,0,1,0,0,1,Mr,NaN
30,31,0,"Uruchurtu, Don. Manuel E",0,40.00,0,0,PC 17601,27.7208,NaN,1,0,0,1,0,0,Other,40.00
31,32,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",1,NaN,1,0,PC 17569,146.5208,B78,1,0,0,1,0,0,Mrs,NaN
32,33,1,"Glynn, Miss. Mary Agatha",1,NaN,0,0,335677,7.7500,NaN,0,1,0,0,0,1,Miss,NaN
33,34,0,"Wheadon, Mr. Edward H",0,66.00,0,0,C.A. 24579,10.5000,NaN,0,0,1,0,1,0,Mr,66.00
34,35,0,"Meyer, Mr. Edgar Joseph",0,28.00,1,0,PC 17604,82.1708,NaN,1,0,0,1,0,0,Mr,28.00
35,36,0,"Holverson, Mr. Alexander Oskar",0,42.00,1,0,113789,52.0000,NaN,0,0,1,1,0,0,Mr,42.00
36,37,1,"Mamee, Mr. Hanna",0,NaN,0,0,2677,7.2292,NaN,1,0,0,0,0,1,Mr,NaN
37,38,0,"Cann, Mr. Ernest Charles",0,21.00,0,0,A./5. 2152,8.0500,NaN,0,0,1,0,0,1,Mr,21.00
38,39,0,"Vander Planke, Miss. Augusta Maria",1,18.00,2,0,345764,18.0000,NaN,0,0,1,0,0,1,Miss,18.00
39,40,1,"Nicola-Yarred, Miss. Jamila",1,14.00,1,0,2651,11.2417,NaN,1,0,0,0,0,1,Miss,14.00
40,41,0,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",1,40.00,1,0,7546,9.4750,NaN,0,0,1,0,0,1,Mrs,40.00
41,42,0,"Turpin, Mrs. William John Robert (Dorothy Ann ...",1,27.00,1,0,11668,21.0000,NaN,0,0,1,0,1,0,Mrs,27.00
42,43,0,"Kraeff, Mr. Theodor",0,NaN,0,0,349253,7.8958,NaN,1,0,0,0,0,1,Mr,NaN
43,44,1,"Laroche, Miss. Simonne Marie Anne Andree",1,3.00,1,2,SC/Paris 2123,41.5792,NaN,1,0,0,0,1,0,Miss,3.00
44,45,1,"Devaney, Miss. Margaret Delia",1,19.00,0,0,330958,7.8792,NaN,0,1,0,0,0,1,Miss,19.00
45,46,0,"Rogers, Mr. William John",0,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,0,0,1,0,0,1,Mr,NaN
46,47,0,"Lennon, Mr. Denis",0,NaN,1,0,370371,15.5000,NaN,0,1,0,0,0,1,Mr,NaN
47,48,1,"O'Driscoll, Miss. Bridget",1,NaN,0,0,14311,7.7500,NaN,0,1,0,0,0,1,Miss,NaN
48,49,0,"Samaan, Mr. Youssef",0,NaN,2,0,2662,21.6792,NaN,1,0,0,0,0,1,Mr,NaN
49,50,0,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",1,18.00,1,0,349237,17.8000,NaN,0,0,1,0,0,1,Mrs,18.00
50,51,0,"Panula, Master. Juha Niilo",0,7.00,4,1,3101295,39.6875,NaN,0,0,1,0,0,1,Master,7.00
51,52,0,"Nosworthy, Mr. Richard Cater",0,21.00,0,0,A/4. 39886,7.8000,NaN,0,0,1,0,0,1,Mr,21.00
52,53,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",1,49.00,1,0,PC 17572,76.7292,D33,1,0,0,1,0,0,Mrs,49.00
53,54,1,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",1,29.00,1,0,2926,26.0000,NaN,0,0,1,0,1,0,Mrs,29.00
54,55,0,"Ostby, Mr. Engelhart Cornelius",0,65.00,0,1,113509,61.9792,B30,1,0,0,1,0,0,Mr,65.00
55,56,1,"Woolner, Mr. Hugh",0,NaN,0,0,19947,35.5000,C52,0,0,1,1,0,0,Mr,NaN
56,57,1,"Rugg, Miss. Emily",1,21.00,0,0,C.A. 31026,10.5000,NaN,0,0,1,0,1,0,Miss,21.00
57,58,0,"Novel, Mr. Mansouer",0,28.50,0,0,2697,7.2292,NaN,1,0,0,0,0,1,Mr,28.50
58,59,1,"West, Miss. Constance Mirium",1,5.00,1,2,C.A. 34651,27.7500,NaN,0,0,1,0,1,0,Miss,5.00
59,60,0,"Goodwin, Master. William Frederick",0,11.00,5,2,CA 2144,46.9000,NaN,0,0,1,0,0,1,Master,11.00
60,61,0,"Sirayanian, Mr. Orsen",0,22.00,0,0,2669,7.2292,NaN,1,0,0,0,0,1,Mr,22.00
61,62,1,"Icard, Miss. Amelie",1,38.00,0,0,113572,80.0000,B28,0,0,0,1,0,0,Miss,38.00
62,63,0,"Harris, Mr. Henry Birkhardt",0,45.00,1,0,36973,83.4750,C83,0,0,1,1,0,0,Mr,45.00
63,64,0,"Skoog, Master. Harald",0,4.00,3,2,347088,27.9000,NaN,0,0,1,0,0,1,Master,4.00
64,65,0,"Stewart, Mr. Albert A",0,NaN,0,0,PC 17605,27.7208,NaN,1,0,0,1,0,0,Mr,NaN
65,66,1,"Moubarek, Master. Gerios",0,NaN,1,1,2661,15.2458,NaN,1,0,0,0,0,1,Master,NaN
66,67,1,"Nye, Mrs. (Elizabeth Ramell)",1,29.00,0,0,C.A. 29395,10.5000,F33,0,0,1,0,1,0,Mrs,29.00
67,68,0,"Crease, Mr. Ernest James",0,19.00,0,0,S.P. 3464,8.1583,NaN,0,0,1,0,0,1,Mr,19.00
68,69,1,"Andersson, Miss. Erna Alexandra",1,17.00,4,2,3101281,7.9250,NaN,0,0,1,0,0,1,Miss,17.00
69,70,0,"Kink, Mr. Vincenz",0,26.00,2,0,315151,8.6625,NaN,0,0,1,0,0,1,Mr,26.00
70,71,0,"Jenkin, Mr. Stephen Curnow",0,32.00,0,0,C.A. 33111,10.5000,NaN,0,0,1,0,1,0,Mr,32.00
71,72,0,"Goodwin, Miss. Lillian Amy",1,16.00,5,2,CA 2144,46.9000,NaN,0,0,1,0,0,1,Miss,16.00
72,73,0,"Hood, Mr. Ambrose Jr",0,21.00,0,0,S.O.C. 14879,73.5000,NaN,0,0,1,0,1,0,Mr,21.00
73,74,0,"Chronopoulos, Mr. Apostolos",0,26.00,1,0,2680,14.4542,NaN,1,0,0,0,0,1,Mr,26.00
74,75,1,"Bing, Mr. Lee",0,32.00,0,0,1601,56.4958,NaN,0,0,1,0,0,1,Mr,32.00
75,76,0,"Moen, Mr. Sigurd Hansen",0,25.00,0,0,348123,7.6500,F G73,0,0,1,0,0,1,Mr,25.00
76,77,0,"Staneff, Mr. Ivan",0,NaN,0,0,349208,7.8958,NaN,0,0,1,0,0,1,Mr,NaN
77,78,0,"Moutal, Mr. Rahamin Haim",0,NaN,0,0,374746,8.0500,NaN,0,0,1,0,0,1,Mr,NaN
78,79,1,"Caldwell, Master. Alden Gates",0,0.83,0,2,248738,29.0000,NaN,0,0,1,0,1,0,Master,0.83
79,80,1,"Dowdell, Miss. Elizabeth",1,30.00,0,0,364516,12.4750,NaN,0,0,1,0,0,1,Miss,30.00
80,81,0,"Waelens, Mr. Achille",0,22.00,0,0,345767,9.0000,NaN,0,0,1,0,0,1,Mr,22.00
81,82,1,"Sheerlinck, Mr. Jan Baptist",0,29.00,0,0,345779,9.5000,NaN,0,0,1,0,0,1,Mr,29.00
82,83,1,"McDermott, Miss. Brigdet Delia",1,NaN,0,0,330932,7.7875,NaN,0,1,0,0,0,1,Miss,NaN
83,84,0,"Carrau, Mr. Francisco M",0,28.00,0,0,113059,47.1000,NaN,0,0,1,1,0,0,Mr,28.00
84,85,1,"Ilett, Miss. Bertha",1,17.00,0,0,SO/C 14885,10.5000,NaN,0,0,1,0,1,0,Miss,17.00
85,86,1,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",1,33.00,3,0,3101278,15.8500,NaN,0,0,1,0,0,1,Mrs,33.00
86,87,0,"Ford, Mr. William Neal",0,16.00,1,3,W./C. 6608,34.3750,NaN,0,0,1,0,0,1,Mr,16.00
87,88,0,"Slocovski, Mr. Selman Francis",0,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,0,0,1,0,0,1,Mr,NaN
88,89,1,"Fortune, Miss. Mabel Helen",1,23.00,3,2,19950,263.0000,C23 C25 C27,0,0,1,1,0,0,Miss,23.00
89,90,0,"Celotti, Mr. Francesco",0,24.00,0,0,343275,8.0500,NaN,0,0,1,0,0,1,Mr,24.00
90,91,0,"Christmann, Mr. Emil",0,29.00,0,0,343276,8.0500,NaN,0,0,1,0,0,1,Mr,29.00
91,92,0,"Andreasson, Mr. Paul Edvin",0,20.00,0,0,347466,7.8542,NaN,0,0,1,0,0,1,Mr,20.00
92,93,0,"Chaffee, Mr. Herbert Fuller",0,46.00,1,0,W.E.P. 5734,61.1750,E31,0,0,1,1,0,0,Mr,46.00
93,94,0,"Dean, Mr. Bertram Frank",0,26.00,1,2,C.A. 2315,20.5750,NaN,0,0,1,0,0,1,Mr,26.00
94,95,0,"Coxon, Mr. Daniel",0,59.00,0,0,364500,7.2500,NaN,0,0,1,0,0,1,Mr,59.00
95,96,0,"Shorney, Mr. Charles Joseph",0,NaN,0,0,374910,8.0500,NaN,0,0,1,0,0,1,Mr,NaN
96,97,0,"Goldschmidt, Mr. George B",0,71.00,0,0,PC 17754,34.6542,A5,1,0,0,1,0,0,Mr,71.00
97,98,1,"Greenfield, Mr. William Bertram",0,23.00,0,1,PC 17759,63.3583,D10 D12,1,0,0,1,0,0,Mr,23.00
98,99,1,"Doling, Mrs. John T (Ada Julia Bone)",1,34.00,0,1,231919,23.0000,NaN,0,0,1,0,1,0,Mrs,34.00
99,100,0,"Kantor, Mr. Sinai",0,34.00,1,0,244367,26.0000,NaN,0,0,1,0,1,0,Mr,34.00
100,101,0,"Petranec, Miss. Matilda",1,28.00,0,0,349245,7.8958,NaN,0,0,1,0,0,1,Miss,28.00
101,102,0,"Petroff, Mr. Pastcho (""Pentcho"")",0,NaN,0,0,349215,7.8958,NaN,0,0,1,0,0,1,Mr,NaN
102,103,0,"White, Mr. Richard Frasar",0,21.00,0,1,35281,77.2875,D26,0,0,1,1,0,0,Mr,21.00
103,104,0,"Johansson, Mr. Gustaf Joel",0,33.00,0,0,7540,8.6542,NaN,0,0,1,0,0,1,Mr,33.00
104,105,0,"Gustafsson, Mr. Anders Vilhelm",0,37.00,2,0,3101276,7.9250,NaN,0,0,1,0,0,1,Mr,37.00
105,106,0,"Mionoff, Mr. Stoytcho",0,28.00,0,0,349207,7.8958,NaN,0,0,1,0,0,1,Mr,28.00
106,107,1,"Salkjelsvik, Miss. Anna Kristine",1,21.00,0,0,343120,7.6500,NaN,0,0,1,0,0,1,Miss,21.00
107,108,1,"Moss, Mr. Albert Johan",0,NaN,0,0,312991,7.7750,NaN,0,0,1,0,0,1,Mr,NaN
108,109,0,"Rekic, Mr. Tido",0,38.00,0,0,349249,7.8958,NaN,0,0,1,0,0,1,Mr,38.00
109,110,1,"Moran, Miss. Bertha",1,NaN,1,0,371110,24.1500,NaN,0,1,0,0,0,1,Miss,NaN
110,111,0,"Porter, Mr. Walter Chamberlain",0,47.00,0,0,110465,52.0000,C110,0,0,1,1,0,0,Mr,47.00
111,112,0,"Zabour, Miss. Hileni",1,14.50,1,0,2665,14.4542,NaN,1,0,0,0,0,1,Miss,14.50
112,113,0,"Barton, Mr. David John",0,22.00,0,0,324669,8.0500,NaN,0,0,1,0,0,1,Mr,22.00
113,114,0,"Jussila, Miss. Katriina",1,20.00,1,0,4136,9.8250,NaN,0,0,1,0,0,1,Miss,20.00
114,115,0,"Attalah, Miss. Malake",1,17.00,0,0,2627,14.4583,NaN,1,0,0,0,0,1,Miss,17.00
115,116,0,"Pekoniemi, Mr. Edvard",0,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,0,0,1,0,0,1,Mr,21.00
116,117,0,"Connors, Mr. Patrick",0,70.50,0,0,370369,7.7500,NaN,0,1,0,0,0,1,Mr,70.50
117,118,0,"Turpin, Mr. William John Robert",0,29.00,1,0,11668,21.0000,NaN,0,0,1,0,1,0,Mr,29.00
118,119,0,"Baxter, Mr. Quigg Edmond",0,24.00,0,1,PC 17558,247.5208,B58 B60,1,0,0,1,0,0,Mr,24.00
119,120,0,"Andersson, Miss. Ellis Anna Maria",1,2.00,4,2,347082,31.2750,NaN,0,0,1,0,0,1,Miss,2.00
120,121,0,"Hickman, Mr. Stanley George",0,21.00,2,0,S.O.C. 14879,73.5000,NaN,0,0,1,0,1,0,Mr,21.00
121,122,0,"Moore, Mr. Leonard Charles",0,NaN,0,0,A4. 54510,8.0500,NaN,0,0,1,0,0,1,Mr,NaN
122,123,0,"Nasser, Mr. Nicholas",0,32.50,1,0,237736,30.0708,NaN,1,0,0,0,1,0,Mr,32.50
123,124,1,"Webber, Miss. Susan",1,32.50,0,0,27267,13.0000,E101,0,0,1,0,1,0,Miss,32.50
124,125,0,"White, Mr. Percival Wayland",0,54.00,0,1,35281,77.2875,D26,0,0,1,1,0,0,Mr,54.00
125,126,1,"Nicola-Yarred, Master. Elias",0,12.00,1,0,2651,11.2417,NaN,1,0,0,0,0,1,Master,12.00
126,127,0,"McMahon, Mr. Martin",0,NaN,0,0,370372,7.7500,NaN,0,1,0,0,0,1,Mr,NaN
127,128,1,"Madsen, Mr. Fridtjof Arne",0,24.00,0,0,C 17369,7.1417,NaN,0,0,1,0,0,1,Mr,24.00
128,129,1,"Peter, Miss. Anna",1,NaN,1,1,2668,22.3583,F E69,1,0,0,0,0,1,Miss,NaN
129,130,0,"Ekstrom, Mr. Johan",0,45.00,0,0,347061,6.9750,NaN,0,0,1,0,0,1,Mr,45.00
130,131,0,"Drazenoic, Mr. Jozef",0,33.00,0,0,349241,7.8958,NaN,1,0,0,0,0,1,Mr,33.00
131,132,0,"Coelho, Mr. Domingos Fernandeo",0,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,0,0,1,0,0,1,Mr,20.00
132,133,0,"Robins, Mrs. Alexander A (Grace Charity Laury)",1,47.00,1,0,A/5. 3337,14.5000,NaN,0,0,1,0,0,1,Mrs,47.00
133,134,1,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",1,29.00,1,0,228414,26.0000,NaN,0,0,1,0,1,0,Mrs,29.00
134,135,0,"Sobey, Mr. Samuel James Hayden",0,25.00,0,0,C.A. 29178,13.0000,NaN,0,0,1,0,1,0,Mr,25.00
135,136,0,"Richard, Mr. Emile",0,23.00,0,0,SC/PARIS 2133,15.0458,NaN,1,0,0,0,1,0,Mr,23.00
136,137,1,"Newsom, Miss. Helen Monypeny",1,19.00,0,2,11752,26.2833,D47,0,0,1,1,0,0,Miss,19.00
137,138,0,"Futrelle, Mr. Jacques Heath",0,37.00,1,0,113803,53.1000,C123,0,0,1,1,0,0,Mr,37.00
138,139,0,"Osen, Mr. Olaf Elon",0,16.00,0,0,7534,9.2167,NaN,0,0,1,0,0,1,Mr,16.00
139,140,0,"Giglio, Mr. Victor",0,24.00,0,0,PC 17593,79.2000,B86,1,0,0,1,0,0,Mr,24.00
140,141,0,"Boulos, Mrs. Joseph (Sultana)",1,NaN,0,2,2678,15.2458,NaN,1,0,0,0,0,1,Mrs,NaN
141,142,1,"Nysten, Miss. Anna Sofia",1,22.00,0,0,347081,7.7500,NaN,0,0,1,0,0,1,Miss,22.00
142,143,1,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",1,24.00,1,0,STON/O2. 3101279,15.8500,NaN,0,0,1,0,0,1,Mrs,24.00
143,144,0,"Burke, Mr. Jeremiah",0,19.00,0,0,365222,6.7500,NaN,0,1,0,0,0,1,Mr,19.00
144,145,0,"Andrew, Mr. Edgardo Samuel",0,18.00,0,0,231945,11.5000,NaN,0,0,1,0,1,0,Mr,18.00
145,146,0,"Nicholls, Mr. Joseph Charles",0,19.00,1,1,C.A. 33112,36.7500,NaN,0,0,1,0,1,0,Mr,19.00
146,147,1,"Andersson, Mr. August Edvard (""Wennerstrom"")",0,27.00,0,0,350043,7.7958,NaN,0,0,1,0,0,1,Mr,27.00
147,148,0,"Ford, Miss. Robina Maggie ""Ruby""",1,9.00,2,2,W./C. 6608,34.3750,NaN,0,0,1,0,0,1,Miss,9.00
148,149,0,"Navratil, Mr. Michel (""Louis M Hoffman"")",0,36.50,0,2,230080,26.0000,F2,0,0,1,0,1,0,Mr,36.50
149,150,0,"Byles, Rev. Thomas Roussel Davids",0,42.00,0,0,244310,13.0000,NaN,0,0,1,0,1,0,Other,42.00
150,151,0,"Bateman, Rev. Robert James",0,51.00,0,0,S.O.P. 1166,12.5250,NaN,0,0,1,0,1,0,Other,51.00
151,152,1,"Pears, Mrs. Thomas (Edith Wearne)",1,22.00,1,0,113776,66.6000,C2,0,0,1,1,0,0,Mrs,22.00
152,153,0,"Meo, Mr. Alfonzo",0,55.50,0,0,A.5. 11206,8.0500,NaN,0,0,1,0,0,1,Mr,55.50
153,154,0,"van Billiard, Mr. Austin Blyler",0,40.50,0,2,A/5. 851,14.5000,NaN,0,0,1,0,0,1,Mr,40.50
154,155,0,"Olsen, Mr. Ole Martin",0,NaN,0,0,Fa 265302,7.3125,NaN,0,0,1,0,0,1,Mr,NaN
155,156,0,"Williams, Mr. Charles Duane",0,51.00,0,1,PC 17597,61.3792,NaN,1,0,0,1,0,0,Mr,51.00
156,157,1,"Gilnagh, Miss. Katherine ""Katie""",1,16.00,0,0,35851,7.7333,NaN,0,1,0,0,0,1,Miss,16.00
157,158,0,"Corn, Mr. Harry",0,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,0,0,1,0,0,1,Mr,30.00
158,159,0,"Smiljanic, Mr. Mile",0,NaN,0,0,315037,8.6625,NaN,0,0,1,0,0,1,Mr,NaN
159,160,0,"Sage, Master. Thomas Henry",0,NaN,8,2,CA. 2343,69.5500,NaN,0,0,1,0,0,1,Master,NaN
160,161,0,"Cribb, Mr. John Hatfield",0,44.00,0,1,371362,16.1000,NaN,0,0,1,0,0,1,Mr,44.00
161,162,1,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",1,40.00,0,0,C.A. 33595,15.7500,NaN,0,0,1,0,1,0,Mrs,40.00
162,163,0,"Bengtsson, Mr. John Viktor",0,26.00,0,0,347068,7.7750,NaN,0,0,1,0,0,1,Mr,26.00
163,164,0,"Calic, Mr. Jovo",0,17.00,0,0,315093,8.6625,NaN,0,0,1,0,0,1,Mr,17.00
164,165,0,"Panula, Master. Eino Viljami",0,1.00,4,1,3101295,39.6875,NaN,0,0,1,0,0,1,Master,1.00
165,166,1,"Goldsmith, Master. Frank John William ""Frankie""",0,9.00,0,2,363291,20.5250,NaN,0,0,1,0,0,1,Master,9.00
166,167,1,"Chibnall, Mrs. (Edith Martha Bowerman)",1,NaN,0,1,113505,55.0000,E33,0,0,1,1,0,0,Mrs,NaN
167,168,0,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",1,45.00,1,4,347088,27.9000,NaN,0,0,1,0,0,1,Mrs,45.00
168,169,0,"Baumann, Mr. John D",0,NaN,0,0,PC 17318,25.9250,NaN,0,0,1,1,0,0,Mr,NaN
169,170,0,"Ling, Mr. Lee",0,28.00,0,0,1601,56.4958,NaN,0,0,1,0,0,1,Mr,28.00
170,171,0,"Van der hoef, Mr. Wyckoff",0,61.00,0,0,111240,33.5000,B19,0,0,1,1,0,0,Mr,61.00
171,172,0,"Rice, Master. Arthur",0,4.00,4,1,382652,29.1250,NaN,0,1,0,0,0,1,Master,4.00
172,173,1,"Johnson, Miss. Eleanor Ileen",1,1.00,1,1,347742,11.1333,NaN,0,0,1,0,0,1,Miss,1.00
173,174,0,"Sivola, Mr. Antti Wilhelm",0,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,0,0,1,0,0,1,Mr,21.00
174,175,0,"Smith, Mr. James Clinch",0,56.00,0,0,17764,30.6958,A7,1,0,0,1,0,0,Mr,56.00
175,176,0,"Klasen, Mr. Klas Albin",0,18.00,1,1,350404,7.8542,NaN,0,0,1,0,0,1,Mr,18.00
176,177,0,"Lefebre, Master. Henry Forbes",0,NaN,3,1,4133,25.4667,NaN,0,0,1,0,0,1,Master,NaN
177,178,0,"Isham, Miss. Ann Elizabeth",1,50.00,0,0,PC 17595,28.7125,C49,1,0,0,1,0,0,Miss,50.00
178,179,0,"Hale, Mr. Reginald",0,30.00,0,0,250653,13.0000,NaN,0,0,1,0,1,0,Mr,30.00
179,180,0,"Leonard, Mr. Lionel",0,36.00,0,0,LINE,0.0000,NaN,0,0,1,0,0,1,Mr,36.00
180,181,0,"Sage, Miss. Constance Gladys",1,NaN,8,2,CA. 2343,69.5500,NaN,0,0,1,0,0,1,Miss,NaN
181,182,0,"Pernot, Mr. Rene",0,NaN,0,0,SC/PARIS 2131,15.0500,NaN,1,0,0,0,1,0,Mr,NaN
182,183,0,"Asplund, Master. Clarence Gustaf Hugo",0,9.00,4,2,347077,31.3875,NaN,0,0,1,0,0,1,Master,9.00
183,184,1,"Becker, Master. Richard F",0,1.00,2,1,230136,39.0000,F4,0,0,1,0,1,0,Master,1.00
184,185,1,"Kink-Heilmann, Miss. Luise Gretchen",1,4.00,0,2,315153,22.0250,NaN,0,0,1,0,0,1,Miss,4.00
185,186,0,"Rood, Mr. Hugh Roscoe",0,NaN,0,0,113767,50.0000,A32,0,0,1,1,0,0,Mr,NaN
186,187,1,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",1,NaN,1,0,370365,15.5000,NaN,0,1,0,0,0,1,Mrs,NaN
187,188,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",0,45.00,0,0,111428,26.5500,NaN,0,0,1,1,0,0,Mr,45.00
188,189,0,"Bourke, Mr. John",0,40.00,1,1,364849,15.5000,NaN,0,1,0,0,0,1,Mr,40.00
189,190,0,"Turcin, Mr. Stjepan",0,36.00,0,0,349247,7.8958,NaN,0,0,1,0,0,1,Mr,36.00
190,191,1,"Pinsky, Mrs. (Rosa)",1,32.00,0,0,234604,13.0000,NaN,0,0,1,0,1,0,Mrs,32.00
191,192,0,"Carbines, Mr. William",0,19.00,0,0,28424,13.0000,NaN,0,0,1,0,1,0,Mr,19.00
192,193,1,"Andersen-Jensen, Miss. Carla Christine Nielsine",1,19.00,1,0,350046,7.8542,NaN,0,0,1,0,0,1,Miss,19.00
193,194,1,"Navratil, Master. Michel M",0,3.00,1,1,230080,26.0000,F2,0,0,1,0,1,0,Master,3.00
194,195,1,"Brown, Mrs. James Joseph (Margaret Tobin)",1,44.00,0,0,PC 17610,27.7208,B4,1,0,0,1,0,0,Mrs,44.00
195,196,1,"Lurette, Miss. Elise",1,58.00,0,0,PC 17569,146.5208,B80,1,0,0,1,0,0,Miss,58.00
196,197,0,"Mernagh, Mr. Robert",0,NaN,0,0,368703,7.7500,NaN,0,1,0,0,0,1,Mr,NaN
197,198,0,"Olsen, Mr. Karl Siegwart Andreas",0,42.00,0,1,4579,8.4042,NaN,0,0,1,0,0,1,Mr,42.00
198,199,1,"Madigan, Miss. Margaret ""Maggie""",1,NaN,0,0,370370,7.7500,NaN,0,1,0,0,0,1,Miss,NaN
199,200,0,"Yrois, Miss. Henriette (""Mrs Harbeck"")",1,24.00,0,0,248747,13.0000,NaN,0,0,1,0,1,0,Miss,24.00
200,201,0,"Vande Walle, Mr. Nestor Cyriel",0,28.00,0,0,345770,9.5000,NaN,0,0,1,0,0,1,Mr,28.00
201,202,0,"Sage, Mr. Frederick",0,NaN,8,2,CA. 2343,69.5500,NaN,0,0,1,0,0,1,Mr,NaN
202,203,0,"Johanson, Mr. Jakob Alfred",0,34.00,0,0,3101264,6.4958,NaN,0,0,1,0,0,1,Mr,34.00
203,204,0,"Youseff, Mr. Gerious",0,45.50,0,0,2628,7.2250,NaN,1,0,0,0,0,1,Mr,45.50
204,205,1,"Cohen, Mr. Gurshon ""Gus""",0,18.00,0,0,A/5 3540,8.0500,NaN,0,0,1,0,0,1,Mr,18.00
205,206,0,"Strom, Miss. Telma Matilda",1,2.00,0,1,347054,10.4625,G6,0,0,1,0,0,1,Miss,2.00
206,207,0,"Backstrom, Mr. Karl Alfred",0,32.00,1,0,3101278,15.8500,NaN,0,0,1,0,0,1,Mr,32.00
207,208,1,"Albimona, Mr. Nassef Cassem",0,26.00,0,0,2699,18.7875,NaN,1,0,0,0,0,1,Mr,26.00
208,209,1,"Carr, Miss. Helen ""Ellen""",1,16.00,0,0,367231,7.7500,NaN,0,1,0,0,0,1,Miss,16.00
209,210,1,"Blank, Mr. Henry",0,40.00,0,0,112277,31.0000,A31,1,0,0,1,0,0,Mr,40.00
210,211,0,"Ali, Mr. Ahmed",0,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,0,0,1,0,0,1,Mr,24.00
211,212,1,"Cameron, Miss. Clear Annie",1,35.00,0,0,F.C.C. 13528,21.0000,NaN,0,0,1,0,1,0,Miss,35.00
212,213,0,"Perkin, Mr. John Henry",0,22.00,0,0,A/5 21174,7.2500,NaN,0,0,1,0,0,1,Mr,22.00
213,214,0,"Givard, Mr. Hans Kristensen",0,30.00,0,0,250646,13.0000,NaN,0,0,1,0,1,0,Mr,30.00
214,215,0,"Kiernan, Mr. Philip",0,NaN,1,0,367229,7.7500,NaN,0,1,0,0,0,1,Mr,NaN
215,216,1,"Newell, Miss. Madeleine",1,31.00,1,0,35273,113.2750,D36,1,0,0,1,0,0,Miss,31.00

In [44]:
# 'Age_median'이라는 새로운 column을 만들꺼에요~
# tip을 드리자면 fillna() 가로안에 조건에 dict_title_age와 매칭시킬 column은 Title로 정해주시면 됩니다~

temp['Age_median'] = temp.Age_median.fillna(temp.Title.map(dict_title_age))

In [45]:
temp.head()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,Title,Age_median
0,1,0,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0,0,1,0,0,1,Mr,22.0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1,0,0,1,0,0,Mrs,38.0
2,3,1,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,1,Miss,26.0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0,0,1,1,0,0,Mrs,35.0
4,5,0,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0,0,1,0,0,1,Mr,35.0

In [46]:
# null 값을 확인해보면 0이 나옵니다
temp['Age_median'].isnull().sum()

0

In [47]:
# 다시 복사해주고 마무리~
df = temp.copy()

# 4. 새로운 column 만들어주기

In [48]:
df.head()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,Title,Age_median
0,1,0,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0,0,1,0,0,1,Mr,22.0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1,0,0,1,0,0,Mrs,38.0
2,3,1,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,1,Miss,26.0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0,0,1,1,0,0,Mrs,35.0
4,5,0,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0,0,1,0,0,1,Mr,35.0

# <font color='red'>[과제부분!] (8/11)</font>
### SibSp, Parch 칼럼을 처리해보자!!!
- SibSp는 Siblings/Spouses의 수를 의미하고 Parch는 Parents/Children를 의미합니다.
<br>

- 즉 SibSp, Parch는 모두 동승자의 수를 보여준다고 할 수 있습니다.
<br>

- 그래서 성격이 비슷한 두 가지 column을 합쳐서 1개의 column으로 만드려고 합니다.  
(column 별로 최대한 다른 정보를 가지고 있어야 모델의 성능이 높아지고 overfitting의 가능성이 줄어듭니다!)

<br>

- 새로운 칼럼을 만들어주는 방법은 쉬워요
>```python
df['새로운칼럼이름'] = df['기존칼럼1'] + df['기존칼럼2']
>```


- 칼럼끼리 +, -, *, / 모두 되고  
<br>
- string 형태일 때는 string끼리도 합칠 수도 있습니다!

In [49]:
# 복사해주고
temp = df.copy()

### <font color='yellow'> 여기를 채워주세요~ </font>

In [50]:
# SibSp 칼럼과 Parch 칼럼을 합쳐서 Fellow 칼럼을 만들어주세요~
temp['Fellow'] = temp['SibSp'] + temp['Parch']

In [51]:
# 뒤에 Fellow가 생기면 됩니다~
temp.head()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,Title,Age_median,Fellow
0,1,0,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0,0,1,0,0,1,Mr,22.0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1,0,0,1,0,0,Mrs,38.0,1
2,3,1,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,1,Miss,26.0,0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0,0,1,1,0,0,Mrs,35.0,1
4,5,0,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0,0,1,0,0,1,Mr,35.0,0

In [52]:
df = temp.copy()

# <font color='red'>+[과제부분!] (9/11)</font>
### `cut`을 이용해 Age_median을 Categorical 변수로 나눠주기!
- Age_median columns을 보면 0살부터 80살까지 다양해요~

  시각화를 해보면 나이가 완전히 어리거나 고령이면 생존율이 매우 올라갑니다.
  
  이를 고려해보면 Age를 굳이 continuous 변수가 아니라 10대, 20대, 30대처럼
  
  categorical 변수로 바꿔주는 게 더 좋을 것 같아요~
<br>

- 실제로도 공모전 나가시면 이런 Feature Engineering을 비일비재하게 합니다~
<br>

- 그럼 이를 어떻게 하냐? Pandas에는 cut이라는 아주 아름다운 메소드가 있습니다.
<br>

`cut`은 이렇게 써요
>```python
pd.cut(data, bins, labels = )
>```
영어버전!

>```python
.cut(데이터, [범위,및,구간] , labels=[레이블,설정,해주면됨])
>```
한글버전!

- 예시를 드리자면
> ```python
kills['killsCategories'] = pd.cut(kills['kills'], 
                                  [-1, 0, 2, 5, 10, 60],
                                  labels=['0_kills','1-2_kills', '3-5_kills', '6-10_kills', '10+_kills'])
>```
위는 배틀그라운드 데이터예요!  
처음에 **데이터(칼럼)**을 주고, **범위**를 설정하고, **레이블**을 설정해주면 됩니다!

<br>

- 그럼 이제 Age_median 칼럼을 categorical 변수로 바꾸고 dummy 변수화합시다~

In [53]:
# Age_median 칼럼에 대한 간단한 통계정보
df['Age_median'].describe()

count    891.000000
mean      29.387957
std       13.262592
min        0.420000
25%       21.000000
50%       30.000000
75%       35.000000
max       80.000000
Name: Age_median, dtype: float64

In [54]:
temp = df.copy()

### <font color='yellow'> 여기를 채워주세요~ </font>

In [55]:
# Age_cut 칼럼을 새로 만들고 ~
# 나이를 10대및애기들, 20대, 30대, 40대, 50대 이상으로 나눠봐요~!

temp['Age_cut'] = pd.cut(temp['Age'], [0, 19, 29, 39, 49, 100], labels =[
    '10대및애기들', '20대', '30대', '40대', '50대 이상'
])

In [56]:
temp.head()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,Title,Age_median,Fellow,Age_cut
0,1,0,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0,0,1,0,0,1,Mr,22.0,1,20대
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1,0,0,1,0,0,Mrs,38.0,1,30대
2,3,1,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,1,Miss,26.0,0,20대
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0,0,1,1,0,0,Mrs,35.0,1,30대
4,5,0,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0,0,1,0,0,1,Mr,35.0,0,30대

In [57]:
temp = pd.get_dummies(temp, columns = ['Age_cut'])

In [58]:
temp.head()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,Title,Age_median,Fellow,Age_cut_10대및애기들,Age_cut_20대,Age_cut_30대,Age_cut_40대,Age_cut_50대 이상
0,1,0,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0,0,1,0,0,1,Mr,22.0,1,0,1,0,0,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1,0,0,1,0,0,Mrs,38.0,1,0,0,1,0,0
2,3,1,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,1,Miss,26.0,0,0,1,0,0,0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0,0,1,1,0,0,Mrs,35.0,1,0,0,1,0,0
4,5,0,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0,0,1,0,0,1,Mr,35.0,0,0,0,1,0,0

In [59]:
df = temp.copy()

# 5. column 날려주기

# <font color='red'>[과제부분!] (10/11)</font>
### `del`를 사용해서 필요없는 column들 날려주기
<br>

- 앞에서 몇 개의 칼럼을 새로 만들어줬는데 이제 필요없는 칼럼을 날려줄 거예요~~  
<br>

- 칼럼을 만들어주는 방법은 쉬워요. `del`를 쓰면 되거든요~
>```python
del df['지우려는 칼럼 이름']
>```


<br>
- 자 이제 필요없는 column들을 날려봅시다~

### <font color='yellow'> 여기를 채워주세요~ </font>

In [60]:
temp = df.copy()

In [61]:
temp.head()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,Title,Age_median,Fellow,Age_cut_10대및애기들,Age_cut_20대,Age_cut_30대,Age_cut_40대,Age_cut_50대 이상
0,1,0,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0,0,1,0,0,1,Mr,22.0,1,0,1,0,0,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1,0,0,1,0,0,Mrs,38.0,1,0,0,1,0,0
2,3,1,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,1,Miss,26.0,0,0,1,0,0,0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0,0,1,1,0,0,Mrs,35.0,1,0,0,1,0,0
4,5,0,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0,0,1,0,0,1,Mr,35.0,0,0,0,1,0,0

In [62]:
# Age, SibSp, Parch, Age_median를 지워주시면 됩니다~~

del temp['Age']
del temp['SibSp']
del temp['Parch']
del temp['Age_median']

In [63]:
temp.head()

,PassengerId,Survived,Name,Sex,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,Title,Fellow,Age_cut_10대및애기들,Age_cut_20대,Age_cut_30대,Age_cut_40대,Age_cut_50대 이상
0,1,0,"Braund, Mr. Owen Harris",0,A/5 21171,7.2500,NaN,0,0,1,0,0,1,Mr,1,0,1,0,0,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,PC 17599,71.2833,C85,1,0,0,1,0,0,Mrs,1,0,0,1,0,0
2,3,1,"Heikkinen, Miss. Laina",1,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,1,Miss,0,0,1,0,0,0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,113803,53.1000,C123,0,0,1,1,0,0,Mrs,1,0,0,1,0,0
4,5,0,"Allen, Mr. William Henry",0,373450,8.0500,NaN,0,0,1,0,0,1,Mr,0,0,0,1,0,0

In [64]:
df = temp.copy()

# 6. 데이터 정리하기

# <font color='red'>[과제부분!] (11/11)</font>
### 원하는 순서대로 column 정리해주기~
<br>

- 이제 FE가 끝났습니다~
<br>

- 이제 남은 것은 보기 이쁘게 column들을 정리해주는 거예요~

  쓸 column들만 남기고 앞으로 빼놔야 나중에 머신러닝 모델을 돌릴 때 편하거든요~

<br>

- 칼럼들을 원하는 순서대로 정리하는 방법은 쉬워요.
>```python
df = df[['칼럼1', '칼럼2', '칼럼3', '칼럼4', '칼럼5']]
>```
[[ ]] 대괄호를 2개 씌워주면 됩니다!  
[[ ]]는 참고로 원하는 column만 뽑을 때 쓰기도 하는 방법입니다~

<br>

- 자 이제 마지막 과제를 해봅시다~

In [65]:
df.head()

,PassengerId,Survived,Name,Sex,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,Title,Fellow,Age_cut_10대및애기들,Age_cut_20대,Age_cut_30대,Age_cut_40대,Age_cut_50대 이상
0,1,0,"Braund, Mr. Owen Harris",0,A/5 21171,7.2500,NaN,0,0,1,0,0,1,Mr,1,0,1,0,0,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,PC 17599,71.2833,C85,1,0,0,1,0,0,Mrs,1,0,0,1,0,0
2,3,1,"Heikkinen, Miss. Laina",1,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,1,Miss,0,0,1,0,0,0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,113803,53.1000,C123,0,0,1,1,0,0,Mrs,1,0,0,1,0,0
4,5,0,"Allen, Mr. William Henry",0,373450,8.0500,NaN,0,0,1,0,0,1,Mr,0,0,0,1,0,0

In [66]:
# 우선 columns들이 뭐가 있나 살펴보죠
df.columns

Index(['PassengerId', 'Survived', 'Name', 'Sex', 'Ticket', 'Fare', 'Cabin',
       'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Pclass_1', 'Pclass_2',
       'Pclass_3', 'Title', 'Fellow', 'Age_cut_10대및애기들', 'Age_cut_20대',
       'Age_cut_30대', 'Age_cut_40대', 'Age_cut_50대 이상'],
      dtype='object')

### <font color='yellow'> 여기를 채워주세요~ </font>

In [67]:
# 저희가 머신러닝을 돌릴 때 필요한 칼럼들을 앞으로 빼고 나머지는 뒤로 빼주세요~
#<칼럼순서>

df = df[['Survived', 'Sex', 'Fare', 'Embarked_C', 'Embarked_Q', 'Embarked_S',
        'Pclass_1', 'Pclass_2', 'Pclass_3', 'Fellow', 'Age_cut_10대및애기들',
        'Age_cut_20대', 'Age_cut_30대', 'Age_cut_40대', 'Age_cut_50대 이상',
        'Cabin', 'Name', 'Title', 'PassengerId', 'Ticket']]

In [68]:
df.head()

,Survived,Sex,Fare,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,Fellow,Age_cut_10대및애기들,Age_cut_20대,Age_cut_30대,Age_cut_40대,Age_cut_50대 이상,Cabin,Name,Title,PassengerId,Ticket
0,0,0,7.2500,0,0,1,0,0,1,1,0,1,0,0,0,NaN,"Braund, Mr. Owen Harris",Mr,1,A/5 21171
1,1,1,71.2833,1,0,0,1,0,0,1,0,0,1,0,0,C85,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Mrs,2,PC 17599
2,1,1,7.9250,0,0,1,0,0,1,0,0,1,0,0,0,NaN,"Heikkinen, Miss. Laina",Miss,3,STON/O2. 3101282
3,1,1,53.1000,0,0,1,1,0,0,1,0,0,1,0,0,C123,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Mrs,4,113803
4,0,0,8.0500,0,0,1,0,0,1,0,0,0,1,0,0,NaN,"Allen, Mr. William Henry",Mr,5,373450

# + 과제에 사용되었던 메소드 모음


> ```python
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)
type()
.read_csv()
.head()
.isnull().sum()
.shape
.dtypes
.unique()
.nunique()
.copy()
.replace()
.map(dict)
.value_counts()
pd.get_dummies()
.str
.str.extract()
.str.split() <추가>
.extract
.index
dict
zip
.describe()
pd.cut()
del
.columns
.iloc[ : , : ]
>```